= form_for collection do |f|
  :javascript
    $(document).ready(function(){ 
      var ori_checked = $("#collection_hierarchy_mode").attr("checked");
      if (ori_checked == undefined){
        $("#hierachy_mode_options").hide();
      }
      var select_icon = $('#select_icon');
      if(select_icon.val() == "")
        select_icon.val('default');
      $("#focus_icon").val(select_icon.val());
      $('.' + select_icon.val()).css({backgroundColor: '#D2D2D2', border: '1px solid #565656'});

      $("button").click(function(){
        if (this != $('.white')[0]){
          $('#select_icon').val($("#focus_icon").val());
          $('.' + $('#focus_icon').val()).css({backgroundColor: '#f5f5f5', border: '1px solid white'});
          this.style.backgroundColor =  "#D2D2D2";
          this.style.border =  "1px solid #565656";
          
          $("#focus_icon").val(this.classList["0"]);

        }else{
          $('#select_icon').val($("#focus_icon").val());
        }
      });

      $("#collection_hierarchy_mode").click(function(){
        var ori_checked = $("#collection_hierarchy_mode").attr("checked");
        if (ori_checked){
          $("#hierachy_mode_options").show();
        }else{
          $("#hierachy_mode_options").hide();
          $("#collection_field_identify").val("");
          $("#collection_field_parent").val("");
        }
      })
    });
  
  .field.w60
    = f.label t('views.collections.form.name') 
    = f.text_field :name, :readonly => !creation && (cannot? :update, collection)
    - if f.object.errors[:name].present?
      %label.error= "Name #{f.object.errors[:name].join(', ')}"
  .field.w60
    = f.label t('views.collections.form.description') 
    = f.text_area :description, rows: 3, :readonly =>  !creation && (cannot? :update, collection)
  - if Settings.is_on? :public_collection
    .field.w60
      = f.label t('views.collections.form.public') 
      = f.check_box :public, :disabled => !creation && (cannot? :update, collection)

  - if !creation 
    .field.w60
      = f.label t('views.collections.form.hierarchy_mode') 
      = f.check_box :hierarchy_mode, :disabled => !creation && (cannot? :update, collection)

    .field.w60#hierachy_mode_options
      = f.label t('views.collections.form.field_identify')
      = f.select :field_identify, options_for_select(@options_for_select, collection.field_identify), {}, :disabled => !creation && (cannot? :update, collection) 
      = f.label t('views.collections.form.field_parent')
      = f.select :field_parent, options_for_select(@options_for_select, collection.field_parent), {}, :disabled => !creation && (cannot? :update, collection) 

  .field.w60
    %label
      = t('views.collections.form.icon') 
    = render 'icon_selector', :f => f
  .w60
  %br{clear: :all}

  - if (creation || can?(:update, collection))
    = f.button t('views.collections.form.save') , :class => 'white'
    = link_to t('views.collections.form.cancel'), collections_path, :class=> 'grey'