= render '/tabs'

- content_for :head do
  :javascript
    $(function() { initMemberships(#{current_user.id}, #{collection.id}, #{collection_admin?}, #{collection.layers.map{|x| {id: x.id, name: x.name}}.to_json}); });
  :css
    table.GralTable td.center { text-align: center; }
    
.tabsline
  #memberships-main
    %h2= t('views.collections.health_structures.title')
    %p= t('views.collections.health_structures.description')
    %br/

  .tablewrapp.w60.right
    %table.GralTable
      %colgroup
        %col{width: '140px'}
        %col{width: '120px'}
        %col{width: '120px'}
        %col{width: '50px'}
      %tr
        %th.members-tree{style: '-webkit-border-radius:8px 0 0 0;-moz-border-radius:8px 0 0 0;'} 
          = t('views.collections.members.member')
        %th.members-permission= t('views.collections.members.email')
        %th.members-permission= t('views.collections.members.phone_number')

        %th
      %tr{ :class => :membersFirstRow }
        %td
        %td
        %td
        %td
      /ko foreach: memberships
      /ko ifnot: isCurrentUser
      %tr{ko(css: { :expandedMember => :expanded }), :class => :membersRow}
        /ko if: expanded
        = render 'collections/members/expanded_member'
        //ko

        /ko ifnot: expanded
        = render 'collections/members/collapsed_member'
        //ko
      %tr
        %td{:colspan => 6, :style => 'height:5px;border-bottom:0px;'}
      //ko
      //ko
      - if collection_admin?
        = render 'collections/members/add_member'
        = render 'collections/members/add_non_existed_member'

  .w30
    .hierarchy-container.30{ko(attr: {id: :esCode}), tabIndex: 0}
      <!-- ko template: {name: 'field-hierarchy-items-template', with: fieldHierarchyItems} -->
      <!-- /ko -->

  .clear
