:css
  .ignored, .ignored input, .ignored select { color: grey; }

= render '/tabs'
:javascript
  $(".tabs li:nth-last-child(5)").addClass("active")

%script{type: "text/html", id: "field-hierarchy-items-template"}
  <!-- ko foreach: fieldHierarchyItems -->
  .hierarchy{ko(css: {active: 'selected()'}), style: "height: 24px;"}
    %a{ko(style: {marginLeft: "'' + (level * 20) + 'px'"}), href: 'javascript:void(0)'}
      <!-- ko if: id != '' -->
      %img{ko(click: :toggleExpand, attr: {src: "'#{InsteddRails.url}/theme/images/icons/18/black/folder' + (expanded() ? '_open' : '') + '.png'"}), style: 'position:relative;top:2px'}
      <!-- /ko -->
      %span{ko(click: :select, text: :name)}
    <!-- ko if: selected -->
    <!-- /ko -->
  <!-- ko if: expanded -->
  <!-- ko template: {name: 'field-hierarchy-items-template', with: fieldHierarchyItems} -->
  <!-- /ko -->
  <!-- /ko -->
  <!-- /ko -->

.tabsline
  %h2= t('views.places.title')
  %p= t('views.places.adjustments.description')
  %br/

  - if current_user_snapshot.at_present?
    = render 'steps', :step => 2
  - else
    = render '/current_snapshot_message'
    %br

  %br
  /ko if: errors().length > 0
  %p
    = t('views.layers.form.field.there_was')
    = link_to t('views.layers.form.field.an_error'), "#", :class => 'error_description_bubble'
    = t('views.layers.form.field.processing_the_hierarchy_file')
  %br
  //ko
  /ko if: errors().length == 0
  #import-hierarchy-wizard-main
    .tablewrapp.w60.right
      %table.GralTable
        %colgroup
          %col{width: '300px'}
          %col{width: '180px'}
          %col{width: '120px'}
        %tr
          %th.members-tree{style: '-webkit-border-radius:8px 0 0 0;-moz-border-radius:8px 0 0 0;'} 
            = t('views.collections.members.member')

          %th.members-permission= t('views.collections.members.status')

          %th
        %tr{ :class => :membersFirstRow }
          %td
          %td
          %td

        /ko foreach: current_members
        /ko ifnot: isCurrentUser
        %tr{ko(css: { :expandedMember => :expanded }), :class => :membersRow}
          %td.member{style: 'cursor:pointer;', colspan: 6}
            .memberHeaderRow
              .memberHeaderColumn.collapsed{style: 'height:45px;'}
                %img.members-collapse-icon{ko(click: :toggleExpanded, attr: {src: "'#{InsteddRails.url}/theme/images/icons/misc/black/arrowRight.png'"})}
                %span{ko(text: :userDisplayName, click: :toggleExpanded)}
                - if 'userPhoneNumber'
                  %br/
                  %span{ko(text: :userPhoneNumber), style: 'margin-left: 15px; font-size: 12px;'}


              - ['None', 'Read', 'Update'].each do |permission|
                .permissionColumn.collapsed{ko(text: "summary#{permission}", css: "{ summaryAll: summary#{permission}() == window.t('javascripts.collections.members.permissions.all'), summarySome: summary#{permission}() == window.t('javascripts.collections.members.permissions.some') }"), style: 'height:42px;'}

              .permissionColumn.admin.collapsed{style: 'height:44px;'}
              .lastColumn.collapsed{style: 'width:auto'}

        %tr
          %td{:colspan => 6, :style => 'height:5px;border-bottom:0px;'}
        //ko
        //ko

    .w30
      .hierarchy-container{tabIndex: 0, style: 'height:280px;box-shadow:none;'}
        <!-- ko template: {name: 'field-hierarchy-items-template', with: fieldHierarchyItems} -->
        <!-- /ko -->
    .clear
  %button.grey{ko(click: :startImport)}= t('views.import_wizards.adjustments.start_importing')
  //ko
  /ko if: errors().length > 0
  = link_to t('views.places.back_to_upload_file'), collection_import_hierarchy_wizard_path(collection), class: 'button grey'
  //ko