:css
  .ignored, .ignored input, .ignored select { color: grey; }

:javascript
  window.kinds = #{Field::kinds}

= render '/tabs'
:javascript
  $(".tabs li:nth-last-child(5)").addClass("active")

.tabsline
  %h2= t('views.import_wizards.title')
  %p= t('views.import_wizards.importing_data')

= render 'steps', :step => 3

%br

%h2#import-hierarchy-in-progress.loading
  = t('views.import_wizards.importing')

.grey
  %br
  = t('views.import_wizards.we_are_now_importing_data', filename: import_hierarchy_job.original_filename, when: time_ago_in_words(import_hierarchy_job.updated_at))
  %br
  %br
  = t('views.import_wizards.you_can_leave_this_screen')

%br
%br

.pending_jobs
  = link_button_to t('views.import_wizards.cancel_import'), cancel_pending_jobs_collection_import_hierarchy_wizard_path, :class => "grey" , :style => "margin: auto;"
.in_progress{style: 'display: none'}
  = t('views.import_wizards.import_in_progress')