:css
  .ignored, .ignored input, .ignored select { color: grey; }

:javascript
  window.kinds = #{Field::kinds}

= render '/tabs'
:javascript
  $(".tabs li:nth-last-child(5)").addClass("active")

.tabsline
  %h2= t('views.places.title')
  %p= t('views.places.import_finished')

= t('views.places.finished_importing', filename: import_hierarchy_job.original_filename)

%br
%br
= link_button_to t('views.places.browse_hierarchy'), collection_places_path(collection), :class => "grey" , :style => "margin: auto;"
