:css
  .ignored, .ignored input, .ignored select { color: grey; }

:javascript
  window.kinds = #{Field::kinds}

= render '/tabs'
:javascript
  $(".tabs li:nth-last-child(5)").addClass("active")

.tabsline
  %h2= t('views.import_wizards.title')
  %p= t('views.import_wizards.import_failed')

%p= t('views.import_wizards.could_not_import', filename: import_hierarchy_job.original_filename)

%p= t('views.import_wizards.please_contact_instedd_for_support')
