:javascript
  $(function() { $('#upload').change(function() { $('#upload_form').submit() }); });

= render '/tabs'

:javascript
  $(".tabs li:nth-last-child(5)").addClass("active")

.tabsline
  %h2= t('views.places.title_import')
  %p= t('views.places.description_import')
  %br/

  - if (import_hierarchy_job && import_hierarchy_job.status_finished?)
    .grey
      = t('views.places.finish_note', filename: import_hierarchy_job.original_filename, when: time_ago_in_words(import_hierarchy_job.finished_at))
      %br
      %br

  - if (import_hierarchy_job && import_hierarchy_job.status_failed?)
    .grey
      = t('views.places.fail_note', filename: import_hierarchy_job.original_filename, when: time_ago_in_words(import_hierarchy_job.finished_at))
      %br
      = t('views.places.please_contact_instedd_for_support')
      %br
      %br

  - if current_user_snapshot.at_present?
    = render 'steps', :step => 1

    %br

    %h2.orange= t('views.places.upload_your_xls_file')
    .box.plain.grey{:style => 'width: 66%'}
      .black= t('views.places.we_recommend_you_to_download_the_xls')
      %ul
        %li= t('views.places.remove_rows')
        %li= t('views.places.add_rows')
        %li= t('views.places.remove_columns')
        %li= t('views.places.add_columns')

    = link_to t('views.places.download_sample_xls'), download_template_collection_places_path(), class: "icon fimport black"

    %form#upload_form{action: upload_xls_collection_import_hierarchy_wizard_path(collection), method: :post, enctype: 'multipart/form-data'}
      %input{type: :hidden, name: 'authenticity_token', value: form_authenticity_token}
      - if collection_admin?
        .icon.fexport.black= t('views.places.upload_a_xls')
        %input#upload{type: :file, name: :file}
      - else
        .icon.fexport.black.disabled= t('views.places.upload_a_xls')
        %input#upload{type: :file, name: :file, disabled: :disabled}
  - else
    = render '/current_snapshot_message'
