= will_paginate failed_import_jobs

%table{style: 'table-layout: fixed'}
  %tr
    %th= t('views.import_wizard.date')
    %th= t('views.import_wizard.original_filename')
    %th= t('views.import_wizard.exception')
  - failed_import_hiearchy_jobs.each do |job|
    %tr{style: 'vertical-align:top'}
      %td
        %nobr= job.created_at.strftime("%b %-d, %Y %H:%M")
      %td
        %nobr= job.original_filename
      %td
        %div{style: 'max-width:600px; max-height:200px; overflow:auto'}
          %pre= job.exception

= will_paginate failed_import_hierarchy_jobs
