:css
  .ignored, .ignored input, .ignored select { color: grey; }

:javascript
  window.kinds = #{Field::kinds}

= render '/tabs'
:javascript
  $(".tabs li:nth-last-child(7)").addClass("active")

.tabsline
  %h2= t('views.import_wizards.title')
  %p= t('views.import_wizards.import_finished')

= t('views.import_wizards.finished_importing', filename: import_job.original_filename)

%br
%br
= link_button_to t('views.import_wizards.browse_collection'), collections_path + "?collection_id=#{collection.id}", :class => "grey" , :style => "margin: auto;"
