class @HierarchyMembershipViewModel
  initialize: (admin, places, errors, collectionId, layers, memberships) ->
    _self = @
    @collectionId = ko.observable(collectionId)
    @selectedPlace = ko.observable()

    @hierarchy = places
    @errors = ko.observable(errors)

    @admin = ko.observable admin

    @showRegisterNewMember = ko.observable(false)
    @showRegisterNewHierarchy = ko.observable(false)
    @email = ko.observable()
    @phoneNumber = ko.observable()
    @name = ko.observable()
    @code = ko.observable()
    @smsCode = ko.observable()
    @secretCode = null
    @phoneExiste = ko.observable false
    @codeExisted = ko.observable false
    @value = ko.observable()
    @noChannelMsg = ko.observable("")
    @codeVerificationMsg = ko.observable('<p>Click "Text Me!". You will receive an SMS pin code for verification.</p>')
    @members = ko.observableArray()
    @fieldHierarchyItemsMap = {}
    @layers = ko.observableArray $.map(layers, (x) -> new Layer(x))
    @emailError = ko.computed =>
      if @hasEmail()
        atPos = @email().indexOf('@')
        dotPos = @email().indexOf('.')
        if atPos<1 || dotPos < atPos + 2 || dotPos + 2 >= @email().length
          window.t('javascripts.collections.members.errors.email_is_invalid')
        else
          null
    @phoneError = ko.computed => 
      if @hasPhone()
        if @phoneExiste()
          window.t('javascripts.collections.members.errors.phone_number_is_taken')
        else 
          null
      else
        window.t('javascripts.collections.members.errors.phone_number_is_required')#"Phone number is required"

    @nameError = ko.computed =>
      unless @hasName()
        window.t('javascripts.places.errors.name_is_invalid')

    @codeError = ko.computed => 
      if @hasCode()
        if @codeExisted()
          window.t('javascripts.places.errors.code_is_taken')
        else 
          null
      else
        window.t('javascripts.places.errors.code_is_required')#"Phone number is required"

    @hasError = ko.computed =>
      return true if @phoneError() || @emailError() || @smsCodeExiste()

    @hasHierarachyError = ko.computed =>
      return true if @nameError() || @codeError()
    @current_members = ko.observableArray $.map(memberships, (x) -> new MembershipHierarchy(_self, x))
    @fieldHierarchyItems = ko.observableArray $.map(@hierarchy, (x) => new FieldHierarchyItem(@, x))
    @currentfieldHierarchyItem = ko.observable()

    @importing = ko.observable false
    @importError = ko.observable false

    if errors
      $('.error_description_bubble').CreateBubblePopup({
        selectable: true,
        position : 'top',
        innerHtml: errors,
        innerHtmlStyle: {
            color:'#000000',
            'background-color' :'white'
            },
        themeName:  'bubble',
        themePath:  '<%= InsteddRails.url %>/theme/images/'

      });


  hasEmail: => $.trim(@email()).length > 0

  hasName: => $.trim(@name()).length > 0

  hasCode: => $.trim(@code()).length > 0

  hasPhone: => $.trim(@phoneNumber()).length > 0

  fetchNewMember: ()=>
    $.get "/collections/#{@collectionId()}/places/import_hierarchy_wizard/memberships.json",code: @value(), (memberships) =>
      @applyCurrentMembers(memberships)

  applyCurrentMembers: (members) =>
    @current_members([])
    _self = @
    $.map(members, (x) => @current_members.push(new MembershipHierarchy(_self, x)))

  startImport: =>
      @importing(true)
      $.ajax "/collections/#{@collectionId()}/places/import_hierarchy_wizard/execute.json",
        type: 'POST'
        success: =>
          window.location = "/collections/#{@collectionId()}/places/import_hierarchy_wizard/import_in_progress"
        error: =>
          @importing(false)
          @importError(true)
    


