%h1= t('views.gateways.index.sms_gateway')
= render '/tab_sms_gateway'
.tabsline
  #gateways-main.hidden-until-loaded 
    <!-- ko foreach: gateways -->
    <!-- ko if: $data != $root.currentGateway() -->
    .box.grey.w60
      .toptitle
        %span{ko(text: :name)}
        &rarr;
        - if current_user.is_super_user
          %span{ko(visible: :nationalSetup)}
            = t("view.gateway.resourcemap_default_gateway")
      .rightbuttons
        %p.field.switch
          %label{ko(click: '$root.onOffEnable', attr: { class: :enableCss })}
            %span 
          %label{ko(click: '$root.onOffDisable', attr: { class: :disableCss })}
            %span 
        %button.fdelete{ko(click: '$root.deleteGateway')}

      .middlebuttons{ko(visible: '!nationalSetup()')}
        .middlebuttons{ko(visible: '!clientConnected() && viewConfiguration()')}
          %label= t('views.gateways.index.endpoint_url')
          %span{ko(text: :gateWayURL)} 
          %br 
          %label= t('views.gateways.index.user_name')
          %span{ko(text: :nuntiumChannelName)} 
          %br 
          %label= t('views.gateways.index.password')
          %span{ko(text: :password)} 

          %br 
          %button.farrow{ko(click: '$root.hideConfiguration')}= t('views.gateways.index.hide_configuration')
      
      .middlebuttons{ko(visible: '!nationalSetup()'), style: 'margin-top:0px'}
        .middlebuttons{ko(visible: '!clientConnected()'), style: 'margin-top:0px'}
          %button.farrow{ko(visible: '!viewConfiguration()', click: '$root.showConfiguration')}= t('views.gateways.index.view_configuration')
          %br{ko(visible: '!viewConfiguration()')}
          %hr{style: "margin:0px;height:6px;background-color: #D0D0D0;"}
          %label.error{ko(text: :queuedMessageText)}

      - if current_user.is_super_user
        %button.fmessage{ko(visible: 'clientConnected() || nationalSetup()', click: '$root.setIsTry')}= t('views.gateways.index.test_your_gateway')
      -else
        %button.fmessage{ko(visible: 'clientConnected()', click: '$root.setIsTry')}= t('views.gateways.index.test_your_gateway')
      .middlebuttons{ko(visible: 'isTry')}
        %label
        %input{ko(value: :tryPhoneNumber, valueUpdate: :afterkeydown), type: :text, hasfocus: true,  style: 'width:240px', placeholder: 'Enter your destination phone number' }
        %button.fmessage{ko(click: '$root.tryGateway', enable: 'validPhoneNumber')}= t('views.gateways.index.send_now')

        %button.fclose{ko(click: '$root.cancel')}= t('views.gateways.form.cancel')
    %br
    <!-- /ko -->
    
    -# Form editor or new
    <!-- ko if: $data == $root.currentGateway() -->
    .box.w60
      .middlebuttons
        - if current_user.is_super_user
          %label{ko(visible: '!nationalSetup()', css: {error: 'nameError'})}
          %input{ko(visible: '!nationalSetup()', value: :name, valueUpdate: :afterkeydown),type: :text, style: 'width:240px'}
        - else
          %label{ko(css: {error: 'nameError'})}= t('views.gateways.form.name')
          %input{ko(value: :name, valueUpdate: :afterkeydown),type: :text, style: 'width:240px'}
        %br
        %hr{style: "margin:0px;height:3px;background-color: #FFFFFF;"}
        
        %input{ko(checked: :selectedGateway), type: :radio, name: 'gatewayConfiguration', value: 'basic'} 
        %label
          = t('views.gateways.form.android_phone_sms_gateway_basic_setup')
        .basic{ko(visible: :basicSetup), style: "margin-left:25px"} 
          %p
            = t('views.gateways.form.text_description')
            %a{:href => "http://instedd.uservoice.com/knowledgebase/articles/160888-creating-an-sms-gateway-using-an-android-phone", target: '_blank' }= t('views.gateways.form.click_here_for_instructions')
          %label{ko(css: {error: 'ticketCodeError'})}
            = t('views.gateways.form.key')
          %input{ko(hasfocus: true, value: :ticketCode, valueUpdate: :afterkeydown), type: :text, style: 'width:240px'}
          %br
        %br
        %hr{style: "margin:0px;height:3px;background-color: #FFFFFF;"}
        
        %input{ko(checked: :selectedGateway), type: :radio, name: 'gatewayConfiguration', value: 'advance'} 
        %label
          = t('views.gateways.form.android_phone_sms_gateway_advance_setup')
        
        .advanced{ko(visible: :advancedSetup), style: "margin-left:25px"} 
          %p
            = t('views.gateways.form.text_description') 
            %a{:href => "http://instedd.uservoice.com/knowledgebase/articles/160888-creating-an-sms-gateway-using-an-android-phone", target: '_blank'}= t('views.gateways.form.click_here_for_instructions')

          %label{ko(css: {error: 'passwordError'})}
            = t('views.gateways.form.password')
          %input{ko(value: :password, valueUpdate: :afterkeydown), type: :password, style: 'width:240px'}
          %br
        %br
        %hr{style: "margin:0px;height:3px;background-color: #FFFFFF;"}

        - if current_user.is_super_user
          %input{ko(checked: :selectedGateway), type: :radio, name: 'gatewayConfiguration', value: 'national'} 
          %label
            = t('views.gateways.form.national_gateway')
          .national{ko(visible: :nationalSetup), style: "margin-left:25px"} 
            %p
              = t('views.gateways.form.national_text_description')
            %label{ko(css: {error: 'passwordError'})}= t('views.gateways.index.sms_gateway')
            %select{ ko(options: '$root.nationalGateways', optionsText: "'name'", value: :nationalGateway, hasfocus: true) }
            %hr{style: "margin:0px;height:10px;background-color: #FFFFFF;"}

          %hr{style: "margin:0px;height:3px;background-color: #FFFFFF;"}
        
        .bottom-actions
          %button.white{ ko(click: '$root.saveGateway', enable: :valid) }
            = t('views.gateways.form.save')
          %a.tgrey{ ko(click: '$root.cancelGateway'), href: 'javascript:void(0)' }
            = t('views.gateways.form.cancel')
          <!-- ko if: !valid() -->
          %span{ ko(text: "error()"), style: 'color:red;margin-left:20px' }
            = t('views.gateways.form.can_not_save')
          <!-- /ko -->

    %br
    <!-- /ko -->
    <!-- /ko -->
    
    .box.grey.add{ ko(visible: '!currentGateway()', click: 'addGateway'), style: 'display:none'}
      %span
        = t('views.gateways.index.add_gateway')
      %button.cadd.right
      %br{clear: :all}

