/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fixedheadertable
 *= require_tree .
 *= require jquery.fancybox
 *= require_fullscreen
*/

.language-switcher{
  font-family:  Arial,Helvetica,sans-serif;
  font-size: 12px;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

#container {
  height:100%;
}

#footer-span {
  position:relative;
}

#NavMenu ul {
  background: transparent;
}

.refine-popup a.button.white {
  padding: 7px 5px !important;
}

.homepage .illustration {
  background: url("/assets/data_collection.png") no-repeat scroll 0 0 transparent;
  height: 286px;
  width: 401px;
}

.homepage .food {
  background: url("/assets/tracking_food.jpg") no-repeat scroll 0 0 transparent;
  height: 260px;
  width: 360px;
}

.homepage .medical {
  background: url("/assets/tracking_medical.png") no-repeat scroll 0 0 transparent;
  height: 200px;
  width: 300px;
}

.get-update {
  background: url("/assets/get_update.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.visualize-and-update {
  background: url("/assets/visualize_and_update.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.update {
  background: url("/assets/update.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.identify {
  background: url("/assets/identify.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.receive {
  background: url("/assets/receive.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.collaborate {
  background: url("/assets/collaborate.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.maintain {
  background: url("/assets/maintain.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.tracking-medical-supplies {
  background: url("/assets/tracking_medical_supplies_and_personnel.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 96px;
  vertical-align: middle;
  width: 96px;
}

.managing-disease-prevention-supplies {
  background: url("/assets/managing_disease_prevention_supplies.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 96px;
  vertical-align: middle;
  width: 96px;
}

.monitoring-food-price {
  background: url("/assets/monitoring_food_price_and_supply_levels.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 96px;
  vertical-align: middle;
  width: 96px;
}

.testing-enviromental-health {
  background: url("/assets/testing_enviromental_health.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 96px;
  vertical-align: middle;
  width: 96px;
}

.client-cnm {
  background: url("/assets/centre_nationale_de_malaria.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 96px;
  vertical-align: middle;
  width: 96px;
}

.client-wranda-ministry-of-health {
  background: url("/assets/rwanda_coat_of_arms.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 96px;
  vertical-align: middle;
  width: 96px;
}

.client-CMPE {
  background: url("/assets/Center_for_Malaria_Parasitology_and_Entomology_of_Lao_PDR.png") no-repeat scroll center top transparent;
  display: inline-block;
  height: 96px;
  vertical-align: middle;
  width: 96px;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}

#export {
  margin:0;
  padding:2px;
  display:inline-block;
}

#export .link {
  color: black;
  text-decoration:underline;
  cursor:pointer;
  margin:0;
}

.delete-collection-or-sites {
  height:60px;
}

.delete-collection-or-sites .left {
  margin-right:10px;
}

.settings-form label {
  padding-bottom:5px;
}
.rm-dialog{
    display: block;
    position: fixed !important;
    top: 50%;
    left: 50%;
    z-index: 100;
    padding: 10px;
}
.hidden{
    display: none;
}
.lbutton{
  background-color: transparent;
  background-position: left top;
  background-repeat: no-repeat;
  height: 59px;
  width: 59px;
  margin: 0px 5px 0px 0px;
  cursor: pointer;
  border: none;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.lphoto{
  background-image: url(/assets/fields_large_icons/photo.png);
}

a.disabled.lbutton{
  cursor: default !important;
}
.lbutton:hover{
  background-position: 0px -60px;
}
.lbutton:focus{
  background-position: 0px -60px;
}
.lbutton:active{
  background-position: 0px -120px;
}
.disabled.lbutton{
  background-position: 0px -180px;
}
a.lbutton{
  padding-top: 3px !important;
  vertical-align: middle;
}

.BreadCrumb li:last-child, .BreadCrumb li:last-child > a{
   cursor: default !important;
   pointer-events: none;
}

.weak-bar{
  background-color: red;
}

.strong-bar{
  background-color: green;
}

.collapse{
  font-weight:bold;
  vertical-align:top;
  padding-left: 0px;
  width:80px;height:30px;
  transform:rotate(7deg);
  -ms-transform:rotate(-90deg); /* IE 9 */
  -moz-transform:rotate(-90deg); /* Firefox */
  -webkit-transform:rotate(-90deg); /* Safari and Chrome */
  -o-transform:rotate(-90deg); /* Opera */
}

#alert-legend li{
  vertical-align: middle;
}


.hierarchy-container:focus , #editorContent input:focus:not(.error), textarea:focus:not(.error), select:focus:not(.error) {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1) !important;
}

.focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1) !important ;
  margin: 5px 1px 3px 0px !important;
  border: 1px solid rgba(81, 203, 238, 1) !important;  
}

.BreadCrumb li a{
  display: inline-block;
  max-width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

textarea.text{
  height: 22px;
}

.pending{
  color: red;
}

.slocation {
    background: url("/assets/fields_small_icons/location.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 21px;
    margin: 4px 2px 4px 5px;
    min-width: 20px;
    padding-left: 27px;
    vertical-align: middle;
}

.light-box{
  padding: 10px 10px 1px 30px !important;
  margin: 5px !important;
  background: none repeat scroll 0 0 #f2f2f2;
  border-radius: 5px;

}

.container-box{
  border-radius:5px;
  margin: 10px 0px 10px 5px !important;
  background: none repeat scroll 0 0 #f2f2f2;
  width: 285px;
}
.container-box > .header{
  background: none repeat scroll 0 0 #a6e082;
  border: 1px solid #7ec452;
  padding: 0px !important;
  height: 30px;
  border-radius: 5px;

  vertical-align: middle;
  line-height: 25px;
}

.container-box > .header > .title{
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-family: Arial;
}

.fb-title{
  font-weight: bold;
  color: black;
}

.fcode{
  font-size: 12px;
  color: grey;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 250px;
  text-align: right;
}


.fcode span{
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float: right;
  padding-right: 5px;
}

.fvalue{
  background-color: white;
  border-radius: 5px;
  padding: 0px;
  line-height: 20px;
  vertical-align: middle;
  display: inline-block;
}

.arrow{
  background: url("/assets/arrow.png");
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 20px;
  float: left;
}

.edit{
  background: url("/assets/edit.png");
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 10px;
  float: right;
}

.w25{
  width: 240px !important;
  padding: 0px !important;
  margin: 0px !important;
}

.light-box div{
  margin-bottom: 5px;
}

.ftitle{
  color: black;
  padding-top: 8px;
}

.w17{
  width: 170px !important;
}

.snumeral {
    background: rgba(0, 0, 0, 0) url("/assets/fields_small_icons/calculation.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 21px;
    margin: 4px 2px 4px 5px;
    min-width: 20px;
    padding-left: 27px;
    vertical-align: middle;
}
