.hierarchy-container {
  width: 272px;
  height: 200px;
  overflow: auto;
  padding: 4px;
  margin-top:6px;
  -webkit-box-shadow: 0px 0.05em 1px 1px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px 0.05em 1px 1px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px 0.05em 1px 1px rgba(0, 0, 0, 0.2) inset;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: white;
}

.hierarchy-long-container {
  width: 340px;
  height: 200px;
  overflow: auto;
  padding: 4px;
  margin-top:6px;
  -webkit-box-shadow: 0px 0.05em 1px 1px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px 0.05em 1px 1px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px 0.05em 1px 1px rgba(0, 0, 0, 0.2) inset;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: white;
}

.change_layer {
  position: absolute;
  right: 5px;
  bottom: 16px;
}
