#map { width:610px; height:458px; margin:0 8px 0 0; border:1px solid #c3c3c1 }

.mapheader {
  margin-left:3px;
  margin-right:5px;
}

.mapheader span { display:inline-block; margin-top:6px }
.mapheader .alert { background:url(<%= InsteddRails.url %>/theme/images/icons/18/orange/alert.png) no-repeat left 50%; padding-left:20px; color:#ff6602; margin-top: 1px }
.mapheader .cancel-alert { background:url(<%= InsteddRails.url %>/theme/images/icons/18/orange/error.png) no-repeat left 50%; padding-left:20px; color:#ff6602; cursor: pointer; margin-top: 1px }
.cluster {
  border: none;
  border-width: 0px;
  width: 29px;
  height: 37px;
  position: absolute;
  background-image: url(/assets/resmap_default.png);
}

.threshold {
  border :none;
  border-width: 0px;
  width: 32px;
  height: 37px;
  position: absolute;
  background-repeat: no-repeat;
}

.cluster-click {
  width: 38px;
  height: 37px;
  position: absolute;
  cursor: pointer;
}

.cluster-shadow {
  border: none;
  border-width: 0px;
  width: 38px;
  height: 37px;
  position: absolute;
  background-image: url(/assets/resmap_cluster_inactive.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.threshold-click {
  width: 32px;
  height: 37px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  cursor: pointer;
}

.cluster.inactive {
  background-image: url(/assets/resmap_default_inactive.png);
}

.cluster.target {
  background-image: url(/assets/resmap_default_target.png);
}

.threshold.inactive {
  background-image: url(/assets/marker_inactive.png);
}

.threshold.target {
  background-image: url(/assets/marker_target.png);
}

.cluster-count {
  border: none;
  border-width: 0px;
  border: 1px solid black;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -css3-background: linear-gradient(90deg, #888888, black);
  background: -moz-linear-gradient(top, black 0%, #888888 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, #888888));
  padding: 0px 2px 0px 2px;
  background-color: black;
  color: white;
  display: table-cell;
  text-align: center;
  min-width: 15px;
  height: 13px;
  line-height: 13px;
  font-size: 11px;
  position: absolute;
}

.cluster-count-click {
  min-width: 15px;
  height: 13px;
  position: absolute;
  cursor: pointer;
}

.oleftexpand {
  display:none;
}

#right-panel {
  height: 100%;
}

#sites_whitout_location_alert {
  position: absolute;
  z-index: 1;
  bottom: 5px;
  width: 91.5%;
}

.alert {
  margin: 5px;
  background-color: #FFEE9E;
  color: #F60;
  padding: 5px;
}

#sites_whitout_location_alert  button {
  margin:0;
  vertical-align: middle;
}

#sites_whitout_location_alert span {
  display: inline-block;
  vertical-align: middle;
}

.alert.black {
  color: black;
}

#snapshot_loaded_message {
  display: inline;
  color: #999;
  font-size: 14px;
}

#snapshot_loaded_message a {
  cursor: pointer;
}

.i18g-snapshot {
  margin-top: 0px !important;
}

.w30 .active {
  background: #D0D0D0;
}

.rounded {
  border-radius: 4px;
}

.tablescroll div.snapshot_on {
  margin: 0;
}

.new_snapshot .field_with_errors {
  display:inline;
}

.snapshot_name_field  {
  width: 410px;
}

.grey {
  color: #999;
}

.snapshot_info {
  padding: 4px;
}

label.error.field-name {
  padding-left: 0px;
  background: none;
}

.field-name sup {
  font-size: 10px;
  margin-left: 2px;
  letter-spacing: 0.1em;
  color: #999;
}

.field-name.error sup {
  color: #ff6600;
}

.error label {
  color: #ff6600
}


