.GralTable th.members-tree {
  border:1px solid white;
  color:#555555;
  background-color:#D0D0D0;
  background-image:none;
}

.GralTable .expandedMember .member {
  padding-left:5px;
}

.GralTable th.members-permission, td.members-permission {
  text-align: center;
}

.GralTable tr.membersFirstRow td {
  padding-top:10px;
  border:hidden;
}

.GralTable tr.membersRow td {
  border:hidden;
}

.members-collapse-icon {
  position:relative;
  top:1px;
  width:11px;
  height:11px;
}

.expandedMember td.lastCell {
  padding-bottom:5px;
}

.GralTable .expandedMember td {
  padding:0px;
}

.GralTable .expandedMember .lastCell {
  padding-right:5px;
}

hr.underlineExpandedMember {
  height:1px;
  margin:0;
  background-color: white;
}

.memberCustomPermissionsSite {
  height:32px;
}

.permissionCell .memberCustomPermissionsSite  {
  text-align: center;
  margin-top:0px;
}

.permissionCell .memberCustomPermissionsSite input[type="radio"] {
  margin-top: 8px;
}

.memberCustomPermissionsSite .members-collapse-icon {
  margin-top:8px;
}

.memberCustomPermissionsSiteName {
  font-weight: normal;
  color: #545454;
  width:220px;
  float:left;
  margin-top: 10px;
}

.memberRemoveCustomPermissionSite {
  float:right;
}

.memberHeaderRow, .defaultLayerPermissionsRow, .layerRow, .customPermissionsTitleRow, .customPermissionRow, .addCustomPermissionRow {
  height:32px;
  background-color: #FFFFFF;
}

.memberHeaderRow .permissionColumn {
  height:23px;
  padding-top: 9px;
}

.permissionColumn {
  width:60px;
  height:32px;
  float: left;
  text-align: center;
  color: #555555;
  font-size: 12px;
}

.permissionColumn input[type="radio"] {
  margin-top:8px;
}

.memberHeaderRow .permissionColumn.admin {
  padding-top:7px;
  height:25px;
  margin-top: 0px;
}

.memberHeaderRow .permissionColumn.summaryAll {
  font-weight: bold;
}

.memberHeaderRow .permissionColumn.summarySome {
  font-style: italic;
}

.lastColumn {
  height:32px;
  width:406px;
  padding-right:6px;
  float:left;
}

.memberHeaderColumn {
  width:292px;
  height:32px;
  float: left;
  padding-left:6px;
  background-color: #EEEEEE;
  font-size: 12px;
}

.memberHeaderRow .memberHeaderColumn {
  height:26px;
  padding-top:6px;
  font-size: 14px
}

.permissionColumn, .lastColumn {
  background-color: #EEEEEE;
}

.defaultLayerPermissionsRow .memberHeaderColumn {
  width:277px;
  padding-left:19px;
}

.defaultLayerPermissionsTitle {
  margin-top:8px;
}

.memberDetailsTitle {
  font-weight: bold;
  color: #545454;
  text-align: center;
  height:21px;
  margin-left:5px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 230px;  
}

.layerRow .memberHeaderColumn {
  width:223px;
  height:21px;
  padding-top:11px;
  padding-left: 73px;
}

.customPermissionsTitleRow .memberHeaderColumn {
  height:24px;
  padding-top: 8px;
}

.frame {
  margin-left: 6px;
  background-color: #DEDEDE;
}

.customPermissionsTitleRow .frame {
  height:19px;
  padding-top: 5px;
}

.customPermissionsTitleRow .permissionColumn {
  height:24px;
  padding-top:8px;
}

.customPermissionsTitleRow .permissionColumn .frame {
  margin-left: 0px;
}


.customPermissionsTitleRow .memberHeaderColumn .frame .memberDetailsTitle {
  text-align: left;
  padding-left: 6px
}

.customPermissionRow .frame {
  height: 32px;
  padding-left:12px;
}

.customPermissionRow .permissionColumn {
  background-color: #DEDEDE;
}

.customPermissionRow hr.underlineExpandedMember {
  width:272px;
  float:left;
  z-index: 1;
}

.customPermissionRow .permissionColumn hr.underlineExpandedMember {
  width:60px;
}

.customPermissionRow .permissionColumn .frame {
  padding-left:0px;
  margin-left:0px;
  position: relative;
}

.customPermissionRow .permissionColumn.admin hr.underlineExpandedMember {
  position: absolute;
  bottom: 0px;
  margin-bottom: -1px;
  width:52px;
}

.addCustomPermissionRow .memberHeaderColumn .frame {
  padding-left:8px;
  height:32px;
}


/*.addCustomPermissionRow .memberHeaderColumn {
  width: 294px !important;
}*/

.addCustomPermissionRow .autocomplete-site-input {
  float:left;
  width:220px;
}

.addCustomPermissionRow .clist-add {
  float:right;
  margin-top:3px;
}

.addCustomPermissionRow .permissionColumn {
  background-color: #DEDEDE;
}

.removeMemberRow {
  height: auto !important;
}

.removeMemberRow .permissionColumn {
  padding-bottom:5px;
  padding-top: 5px;
}

.removeMemberRow .lastColumn {
  padding-bottom:5px;
  padding-top: 5px;
}

.removeMemberRow .memberHeaderColumn {
  padding-bottom:5px;
  padding-top: 5px;
  padding-left:18px;
  width:930px;
  height: auto !important;
}

.memberHeaderColumn.collapsed, .permissionColumn.collapsed, .permissionColumn.admin.collapsed, .lastColumn.collapsed {
  background-color: white;
  border-bottom: 1px #EEEEEE solid;
}
