%script{type: "text/html", id: "field-hierarchy-items-template"}
  <!-- ko foreach: fieldHierarchyItems -->
  .hierarchy{ko(css: {active: 'selected()'}), style: "height: 24px;"}
    %a{ko(style: {marginLeft: "'' + (level * 20) + 'px'"}), href: 'javascript:void(0)'}
      <!-- ko if: id != '' -->
      %img{ko(click: :toggleExpand, attr: {src: "'#{InsteddRails.url}/theme/images/icons/18/black/folder' + (expanded() ? '_open' : '') + '.png'"}), style: 'position:relative;top:2px'}
      <!-- /ko -->
      %span{ko(click: :select, text: :name)}
    <!-- ko if: selected -->
    <!-- /ko -->
  <!-- ko if: expanded -->
  <!-- ko template: {name: 'field-hierarchy-items-template', with: fieldHierarchyItems} -->
  <!-- /ko -->
  <!-- /ko -->
  <!-- /ko -->

.left.w30.h50{style: 'position: relative'}
  %img{src: '/images/progress.gif',id: 'uploadProgress', style: 'position: absolute; margin: auto; left: 0; top: 0; right: 0; bottom: 0; display: none'}
  #editorContent.left.w30.h50
    <!-- ko if: !loadingSite() -->

    -# Collections
    <!-- ko if: !currentCollection() && !editingSite() -->
    .tableheader
      %div{style: 'padding-top:9px;padding-left:6px;'}= t('views.collections.index.my_collections')
    .tablescroll.sites
      %table.GralTable.CleanTable
        %tbody
          <!-- ko foreach: collections -->
          %tr
            %td
              %div{style: "width:230px;overflow:hidden;"}
                %input{ko(checked: :checked, disable: '$root.showingAlert()? $root.showingAlert()== !checked() : false'), type: :checkbox, style: 'position:relative;'}
                %span{ko(text: :name, click: '$root.enterCollection'), style: 'cursor:pointer;width:185px;overflow:hidden;display:block;float:right;text-overflow:ellipsis;white-space:nowrap'}"
                <!-- ko if: loading() -->
                %img{src: "/images/load.gif", style: 'cursor:pointer;width:20px;overflow:hidden;display:block;float:right;text-overflow:ellipsis;white-space:nowrap'}
                <!-- /ko -->
              <!-- ko if: currentSnapshot -->
              .snapshot_on.right{style: 'padding-right:0'}
                .i18g-snapshot
                %button.farrow{ko(click: '$root.enterCollection'), type: :button, style: 'float:none'}
              .clear
              <!-- /ko -->
              <!-- ko if: !currentSnapshot -->
              %button.farrow{ko(click: '$root.enterCollection'), type: :button}
              <!-- /ko -->
          <!-- /ko -->
      %br{:clear => "all"}/
      - if Settings.is_on? :account_completeness
        -# acount completeness
        #profile-main{style: 'display:none'}
          .box.plain.orange{ko(visible: 'collections().length < 1 || (!$root.isExist())'), :style => 'padding:5px; display:none;background-color: #B6D7A8;border: 0px'}
            .sbox.grey.StateDisplay{style: 'margin: 0px;padding: 0px;background-color: #FFFFFF'}
              .values{style: 'padding: 0px;margin: 4px 0 4px 0;font-size: 12px;line-height: 12px;width: 100%;'}

                <!-- ko if: collections().length < 1 && (!$root.isExist()) -->
                .M{style: 'padding: 0px; width: 75px; height: 15px; border: solid 1px; background-color: #FFFFFF; float: left;margin-left: 13px;'}
                  %span.Fill{style: 'width: 0%; background-color: #38761D; height: 15px'}/
                .R
                  %span{style: 'font-weight:bold; color: #000000;letter-spacing: 0em; margin-top: 3px; font-size:10px;'}= t('views.collections.index.0_percent_account_setup_completeness')
                <!-- /ko -->

                <!-- ko if: (collections().length < 1 && $root.isExist()) || (collections().length > 0 && (!$root.isExist()))-->
                .M{style: 'padding: 0px; width: 75px; height: 15px; border: solid 1px; background-color: #FFFFFF; float: left;margin-left: 13px;'}
                  %span.Fill{style: 'width: 50%; background-color: #38761D; height: 15px'}/
                .R
                  %span{style: 'font-weight:bold; color: #000000;letter-spacing: 0em; margin-top: 3px; font-size:10px;'}= t('views.collections.index.50_percent_account_setup_completeness')
                <!-- /ko -->
                .L
                  <!-- ko if: collections().length < 1 -->
                  %button.fadd{ko(click: '$root.createCollection'),type: "button", style: 'width:250px'}
                    %span{style: 'float:left; font-size: 12px'}= t('views.collections.index.create_your_first_collection')
                  %br{:clear => "all"}/
                  <!-- /ko -->
                  <!-- ko if: !$root.isExist() -->
                  %button.fadd{onClick: "window.location='/gateways';return false;", type: "button", style: 'width:250px'}
                    %span{style: 'float:left; font-size: 12px'}= t('views.collections.index.configure_sms_gateway')
                  <!-- /ko -->
    - if can? :create, Collection
      = render 'collections/index/create_collection'
    <!-- /ko -->

    -# Collection sites
    <!-- ko if: !editingSite() -->
    <!-- ko with: currentCollection -->
    .tableheader
      %div.navBack
        - if can? :index, Collection
          %button.pback{ko(click: '$root.goToRoot'), type: 'button'}
        %span
      %div
        %span.colTitle{ko(text: :name,  attr: { title: :name })}
        - #if can? :show, collection
        - if current_user && !current_user.is_guest
          %button.fconfiguration.right{ko(click: '$root.editCollection'), type: 'button', style: 'margin-right:8px;margin-top:6px;'}


    .tablescroll.sites
      %table.GralTable.CleanTable
        %tbody
          <!-- ko if: !isSearch() && $root.groupBy().esCode != '' -->
          <!-- ko template: {name: 'map-hierarchy-items-template', with: $data} -->
          <!-- /ko -->
          <!-- /ko -->
          
          <!-- ko if: hierarchy_mode && checkedHierarchyMode() && !isSearch() -->
          <!-- ko template: {name: 'map-hierarchy-sites-template', with: $data} -->
          <!-- /ko -->
          <!-- /ko -->
          
          <!-- ko if: !checkedHierarchyMode() || isSearch() -->
          <!-- ko template: {name: 'map-sites-template', with: $data} -->
          <!-- /ko -->
          <!-- ko if: hasMoreSites() && !loadingSites()-->
          %tr
            %td.loadmore
              = ko_link_to t('views.collections.index.load_more_sites'), :loadMoreSites, style: 'margin-left: 23px'
          <!-- /ko -->
          <!-- ko if: hasMoreSites() && loadingSites()-->
          %tr
            %td.loadmore= t('views.collections.index.loading')
          <!-- /ko -->
          <!-- /ko -->
    .tablebottom
      <!-- ko if: !currentSnapshot-->
      - if current_user && !current_user.is_guest
        = render 'collections/index/create_site'
      <!-- /ko -->

    <!-- /ko -->
    <!-- /ko -->

    -# New Site or Edit Site form
    <!-- ko if: newOrEditSite -->
    %form{ko(with: :newOrEditSite, submit: '$root.saveSite'), novalidate: 'novalidate', action: '#/null', method: :post, style: 'display:inline-block;width:100%'}
      .tableheader.w30
        %button.pback{ko(click: '$root.exitSite'), type: 'button'}
        %span
        <!-- ko if: inEditMode() -->
        %span{ko(text: :name)}
        <!-- /ko -->
        <!-- ko if: !inEditMode() -->
        %span= t('views.collections.index.new_site')
        <!-- /ko -->
      .tablescroll
        %table
          %tbody
            %tr
              %td
                /ko if: collection.isVisibleName || collection.isVisibleLocation
                .light-box{style: 'padding-bottom:10px !important'}
                  /ko if: collection.isVisibleName
                  %div
                    = label_tag :name, t('views.collections.index.name')
                    = text_field_tag :name, '', placeholder: 'Enter new site name', class: 'w25', 'data-bind' => kov(value: :name, valueUpdate: :afterkeydown, hasfocus: true), :autofocus => true
                    
                  //ko
                  /ko if: collection.isVisibleLocation
                  %div
                    %label= t('views.collections.index.location')
                    = ko_text_field_tag :locationText, event: {keydown: :newLocationKeyPress, blur: :moveLocation}, html: {class: 'ux-search w25', placeholder: t('views.collections.index.search_or_drug_the_pin')}
                    
                  //ko
                  %div
                    = label_tag :week, t('views.collections.index.week')
                    = text_field_tag :week, '', placeholder: 'Enter week of report', class: 'w25', 'data-bind' => kov(value: :week, valueUpdate: :afterkeydown, hasfocus: true), :autofocus => true
                  
                  %div
                    = label_tag :year, t('views.collections.index.year')
                    = text_field_tag :year, '', placeholder: 'Enter year of report', class: 'w25', 'data-bind' => kov(value: :year, valueUpdate: :afterkeydown, hasfocus: true), :autofocus => true

                  %div
                    = label_tag :year, t('views.collections.index.place')
                    .hierarchy-container{tabIndex: 0, style: 'height:150px;box-shadow:none;'}
                      <!-- ko template: {name: 'field-hierarchy-items-template', with: '$root.fieldHierarchyItems'} -->
                      <!-- /ko -->

                //ko

                <!-- ko foreach: layers -->
                .container-box
                  %div.header{style: 'margin-bottom:10px'}
                    %div.coldiv{ko(click: :toggleExpand, css: {coldiv: '!expanded()', expdiv: 'expanded()'})}
                      %span &nbsp;
                    %div.title{ko(text: :name, click: :toggleExpand), style: 'cursor:pointer'}
                  <!-- ko if: expanded() -->
                  <!-- ko foreach: fields -->
                  %div{style: 'padding: 0px 10px 0px 30px;'}
                    
                    %span{ko(text: :errorMessage, validationPopover: :errorMessage), style: 'display: none;'}
                    
                    %div.ftitle
                      %span{ko(attr: {:for => :esCode}, text: "name")}
                      <!-- ko if: is_mandatory -->
                      %span{style: 'color: red; font-size:18px'} *
                      <!-- /ko -->                    
                    <!-- ko if: !editable() -->
                    %div.fvalue{ko(text: :valueUI)}
                    <!-- /ko -->
                    <!-- ko if: editable() -->
                    - Field::kinds.each do |kind|
                      <!-- ko if: kind == '#{kind}' -->
                      = render partial: field_edit_view(kind), locals: { single_editing_mode: false, mobile: false }
                      <!-- /ko -->
                    <!-- /ko -->
                  <!-- /ko -->
                  %br
                  <!-- /ko -->
                <!-- /ko -->
      .tablebottom
        .right{style: 'margin-right:3px;margin-top:-5px;'}
          %button.grey{ko(enable: :valid), type: 'submit'}= t('views.collections.index.done')
          %span{ko(click: '$root.exitSite'), style: 'cursor:pointer'}= t('views.collections.index.cancel')

    <!-- /ko -->

    -# Show Site form
    <!-- ko if: showSite -->
    %form{ko(with: :showSite, submit: '$root.saveSite'), action: '#/null', method: :post, novalidate: 'novalidate', style: 'display:inline;width:100%'}
      .tableheader.w30
        %button.pback{ko(click: '$root.exitSite'), type: 'button'}
        %span
        %span{ko(text: :name)}
      .tablescroll
        %table{style: 'width:100%'}
          %tbody
            %tr
              %td
                /ko if: collection.isVisibleName || collection.isVisibleLocation
                .light-box
                  /ko if: collection.isVisibleName
                  %div{style: 'margin-bottom:14px'}
                    %label= t('views.collections.index.name')
                    - if current_user.is_guest
                      %span.value{ko(text: :name, visible: '!editingName()')}
                    -else
                      %span.value{ko(text: :name, visible: '!editingName()', click: 'editName'), style: 'cursor: pointer'}
                    <!-- ko if: editingName() -->
                    = ko_text_field_tag :name, visible: 'editingName()', hasfocus: true, event: {keydown: :nameKeyPress, blur: :saveName}
                    <!-- /ko -->
                  //ko
                  /ko if: collection.isVisibleLocation
                  %div{style: 'margin-bottom:14px'}
                    %label= t('views.collections.index.location')
                    <!-- ko if: !hasLocation() -->
                    - if current_user.is_guest
                      %span.value{style: 'color:grey;'}
                        = t('views.collections.index.no_value')
                    - else
                      %span.value{ko(visible: '!editingLocation()', click: 'editLocation'), style: 'color:grey;cursor:pointer'}= t('views.collections.index.no_value')
                    <!-- /ko -->
                    <!-- ko if: hasLocation() && !editingLocation() -->
                    - if current_user.is_guest
                      %div.value{ko(text: :locationText, visible: '!editingLocation()')}
                    - else
                      %span.value{ko(text: :locationText, visible: '!editingLocation()', click: 'editLocation'), style: 'cursor: pointer'}
                    <!-- /ko -->
                    <!-- ko if: editingLocation() -->
                    = ko_text_field_tag :locationText, visible: :editingLocation, hasfocus: true, event: {keydown: :locationKeyPress, blur: :saveLocation}, html: {class: 'ux-search w17'}
                    <!-- /ko -->
                  //ko
                  %div{style: 'margin-bottom:14px'}
                    %label= t('views.collections.index.week')
                    - if current_user.is_guest
                      %span.value{ko(text: :week, visible: '!editingWeek()')}
                    -else
                      %span.value{ko(text: :week, visible: '!editingWeek()', click: 'editWeek'), style: 'cursor: pointer'}
                    <!-- ko if: editingWeek() -->
                    = ko_text_field_tag :week, visible: 'editingWeek()', hasfocus: true, event: {keydown: :weekKeyPress, blur: :saveWeek}
                    <!-- /ko -->
                  %div{style: 'margin-bottom:14px'}
                    %label= t('views.collections.index.year')
                    - if current_user.is_guest
                      %span.value{ko(text: :year, visible: '!editingYear()')}
                    -else
                      %span.value{ko(text: :year, visible: '!editingYear()', click: 'editYear'), style: 'cursor: pointer'}
                    <!-- ko if: editingYear() -->
                    = ko_text_field_tag :year, visible: 'editingYear()', hasfocus: true, event: {keydown: :yearKeyPress, blur: :saveYear}
                    <!-- /ko -->
                  %div{style: 'margin-bottom:14px'}
                    %label= t('views.collections.index.place')
                    - if current_user.is_guest
                      %span.value{ko(text: :value, visible: '!editingPlace()')}
                    -else
                      %span.value{ko(text: :placeName, visible: '!editingPlace()', click: 'editPlace'), style: 'cursor: pointer'}
                    <!-- ko if: editingPlace() -->
                    .hierarchy-container{tabIndex: 0, style: 'height:150px;box-shadow:none;'}
                      <!-- ko template: {name: 'field-hierarchy-items-template', with: '$root.fieldHierarchyItems'} -->
                      <!-- /ko -->

                    <!-- /ko -->
                  - if Settings.mobile_id?
                    %div{style: 'margin-bottom:14px'}
                      %label= t('views.collections.index.id_with_prefix')
                      %span.value{ko(text: :idWithPrefix), style: 'cursor: pointer'}
                //ko
                <!-- ko foreach: layers -->
                .container-box
                  / col = collection
                  %div.header
                    %div.coldiv{ko(click: :toggleExpand, css: {coldiv: '!expanded()', expdiv: 'expanded()'})}
                      %span &nbsp;
                    %div.title{ko(text: :name, click: :toggleExpand), style: 'cursor:pointer'}
                  <!-- ko if: expanded() -->
                  <!-- ko foreach: fields -->
                  %div{style: 'padding: 0px 10px 0px 30px;over-flow:hidden; margin-left:0px'}
                    %div{ko(text: :errorMessage, validationPopover: :errorMessage), style: 'display: none;'}
                    %div.ftitle{ko(text: :name, css: { error: :error })}
                    %div.fcode
                      %span{ko(text: :code)}
                    %div.fvalue

                      <!-- ko if: kind == 'photo' -->
                      <!-- ko if: hasValue() && !editing() -->
                      
                      %div
                        %a{ko(attr: {href: "photoPath + value()"}), id: "previewimg"}
                          %img{ko(attr: {src: "photoPath + value()"}), width: "100px;", style: "vertical-align: middle; border: 2px solid #BBB;"}
                      .clear
                      <!-- /ko -->

                      <!-- /ko -->
                      
                      <!-- ko if: hasValue() && !error() -->
                      
                      <!-- ko if: writeable -->
                      <!-- ko if: kind != 'photo' -->
                      <!-- ko if: !editing() -->
                      %span.arrow{ko(click: 'edit'), style: 'color:grey;cursor:pointer'} &nbsp;
                      <!-- ko if: kind == 'location' -->
                      %span{ko(text: :filterText, visible: '!editing()', click: 'edit'), style: 'cursor:pointer;width:205px;float:left;  text-overflow:ellipsis;white-space: nowrap;overflow: hidden;'}
                      <!-- /ko -->
                      <!-- ko if: kind != 'location' -->
                      %span{ko(text: :valueUI, visible: '!editing()', click: 'edit'), style: 'cursor:pointer;width:205px;float:left;  text-overflow:ellipsis;white-space: nowrap;overflow: hidden;'}
                      <!-- /ko -->
                      %span.edit{ko(click: 'edit'), style: 'color:grey;cursor:pointer'} &nbsp;
                      <!-- /ko -->
                      <!-- /ko -->
                      <!-- /ko -->

                      <!-- ko if: !writeable -->
                      %span.arrow{ko(text: :valueUI)}
                      <!-- /ko -->

                      <!-- /ko -->

                      <!-- ko if: !hasValue() &&  !error() -->
                      <!-- ko if: writeable -->
                      <!-- ko if: kind != 'photo' -->
                      <!-- ko if: !editing() -->
                      %span.arrow{ko(click: 'edit'), style: 'color:grey;cursor:pointer'} &nbsp;
                      %span{ko(text: 't("views.collections.index.no_value")', visible: '!editing()', click: 'edit'), style: 'cursor:pointer;width:205px;float:left;  text-overflow:ellipsis;white-space: nowrap;overflow: hidden;'}
                      %span.edit{ko(click: 'edit'), style: 'color:grey;cursor:pointer'} &nbsp;
                      <!-- /ko -->
                      <!-- /ko -->
                      <!-- /ko -->

                      <!-- ko if: !writeable -->
                      %span.arrow{style: 'color:grey'}= t('views.collections.index.no_value')
                      <!-- /ko -->
                      <!-- /ko -->
                      <!-- ko if: editing() || error() -->
                      - Field::kinds.each do |kind|
                        <!-- ko if: kind == '#{kind}' -->
                        = render partial: field_edit_view(kind), locals: { single_editing_mode: true, mobile: false }
                        <!-- /ko -->
                      <!-- /ko -->
                      
                    
                  <!-- /ko -->
                  %br
                  <!-- /ko -->
                <!-- /ko -->
      <!-- ko if: !$root.currentSnapshot() -->
      .tablebottom
        -# if (can? :edit, site)
        - if current_user && !current_user.is_guest
          = link_to t('views.collections.index.edit_site'), 'javascript:void()', class: 'icon fedit black', 'data-bind' => kov(click: 'startEditMode')
          = link_to t('views.collections.index.delete_site'), 'javascript:void()', class: 'icon fdelete black', 'data-bind' => kov(click: '$root.deleteSite')
      <!-- /ko -->

    <!-- /ko -->
    <!-- /ko -->

    -# Loading Site...
    %form{ko(visible: :loadingSite)}
      .tableheader.w30
        %button.pback
        %span
        %span= t('views.collections.index.loading')
#right-panel.right.sites
  .mapheader
    <!-- ko if: $root.currentCollection() -->
    = render 'collections/index/export'
    <!-- /ko -->
    %span{ko(text: :mapSitesCountText)}
    - if Settings.is_on? :alerts
      - Plugin.all.each do |plugin|
        = render_plugin_hook plugin, :map_header
    <!-- ko if: loading() -->
    %img{src: "/images/load.gif", style: 'width:20px;'}
    / %span{style: 'width:auto;line-height:30px; vertical-align:middle'}  
    /   %img{src: "/images/loader.gif"}
    <!-- /ko -->
    %button.icon_button.ffullscreen.right{ko(click: '$root.tooglefullscreen') }
    <!-- ko if: !editingSite() -->
    %button.icon_button.ftable.right{ko(click: '$root.showTable', css: {active: "!$root.showingMap()"})}
    %button.icon_button.fmap.right{ko(click: '$root.showMap', css: {active: "$root.showingMap()"})}
    <!-- /ko -->
    %br{clear: :all}
  %div.mapcontainer
    %button.icon_button.expand-collapse_button.oleftexpand{ko(click: '$root.toogleExpandFullScreen')}
    <!-- ko if: $root.shouldShowLocationMissingAlert() -->
    %a#sites_whitout_location_alert.alert.box.flash_error.drop_shadow(href='javascript:void(window.model.filterByLocationMissing())')
      %span= t('views.collections.index.there_are_sites_with_no_location_set')
      %span.right
        %button.fconfiguration{ko(click: '$root.filterByLocationMissing'), type: 'button', style: 'margin-left:9px'}
        %span.black= t('views.collections.index.show_them')
      .clear
    <!-- /ko -->

    #map
    
    <!-- ko if: currentCollection() -->
    <!-- ko with: currentCollection -->
    <!-- ko if: showingCollectionAlert() -->
    <!-- ko if: !$root.toggleLegend() -->
    %div#alert-legend{style: 'position: absolute; top: 45px; right: 15px; z-index: 99;'}
      %div{ko(click: '$root.toggleAlertLegend'), style: 'cursor: pointer;line-height: 30px; background-color:#ffffff; vertical-align:middle; padding-left:10px; font-size:15px;border-radius: 5px 5px 5px 5px;'}
        %b Legend
        %img{ko(visible: '$root.loadingLegend'),src: "/images/load.gif", style: 'width:15px; padding-left:7px'}
        %img{src: "/assets/round_plus.png", style: 'padding:7px 7px 0px;'}      
    <!-- /ko -->

    <!-- ko if: $root.toggleLegend() -->
    %div#alert-legend{style: 'position: absolute; top: 50px; right: 15px; z-index: 99; background-color:white;max-height:200px;overflow-y:auto;border-radius:10px'}
      %div{ko(click: '$root.toggleAlertLegend'), style: 'cursor: pointer;line-height: 30px; background-color:#E6E6E6; vertical-align:middle; padding-left:10px; font-size:15px; positio; border-radius: 10px 10px 0px 0px;'}
        %b Legend
        %img{ko(visible: '$root.loadingLegend'),src: "/images/load.gif", style: 'width:15px; padding-left:7px'}
        %img.right{src: "/assets/round_minus.png", style: 'padding:5px 10px 0px'}
      
      %ul#legend_alert_list{ko(foreach: :thresholds), style: 'min-width:200px;padding-left:5px; padding-right:5px; list-style:none; max-width:350px;'}

        <!-- ko if: showingThreshold() -->
        %li{style: 'height:auto;'}
          %div{style: 'padding-right:5px;float:left'}
            %img{"data-bind" => "attr: { src:iconUrl }", style: 'width:20px;' }
          %div{style:'line-height:20px;; vertical-align:middle;padding-top:2px; padding-bottom:10px; '}
            %span{ko(text: :propertyName)}
            %span :
            %span{ko(text: :alertedSitesNum)}
        <!-- /ko -->     
      %div{style: 'height: 20px; background-color:#E6E6E6;border-radius: 0px 0px 10px 10px;'}
    <!-- /ko -->

    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->

    <!-- ko ifnot: currentCollection() -->
    <!-- ko if: showingLegend() -->
    <!-- ko if: !toggleLegend() -->
    %div#alert-legend{style: 'position: absolute; top: 45px; right: 15px; z-index: 99; '}
      %div{ko(click: '$root.toggleAlertLegend'), style: 'cursor: pointer;line-height: 30px; background-color:#ffffff; vertical-align:middle; padding-left:10px; font-size:15px;  border-radius: 5px 5px 5px 5px; float: left;'}
        %b Legend
        %img{ko(visible: :loadingLegend),src: "/images/load.gif", style: 'width:15px; padding-left:7px'}
        %img{src: "/assets/round_plus.png", style: 'padding:7px 7px 0px 7px'}      
    <!-- /ko -->
    <!-- ko if: toggleLegend() -->
    %div#alert-legend{style: 'position: absolute; top: 50px; right: 15px; z-index: 99; background-color:white;max-height:350px;border:1px solid #BDBDBD;border-radius:10px'}
      
      %div{ko(click: '$root.toggleAlertLegend'), style: 'cursor: pointer;line-height: 30px; background-color:#E6E6E6; vertical-align:middle; padding-left:10px; font-size:15px; positio; border-radius: 10px 10px 0px 0px;'}
        %b Legend
        %img{ko(visible: :loadingLegend),src: "/images/load.gif", style: 'width:15px; padding-left:7px'}
        %img.right{src: "/assets/round_minus.png", style: 'padding:5px 10px 0px'}

      %div{style: 'overflow: auto;max-height: 290px;border-top:1px solid #BDBDBD;border-bottom:1px solid #BDBDBD;max-width:350px;'}
        
        
        %div{ko(foreach: :collections), style: ''}
          <!-- ko if: checked() -->
          <!-- ko if: showingCollectionAlert() -->
          %div{style: 'padding:10px 10px 0px 10px;border-bottom:1px solid #E6E6E6'}
            %b{ko(text: :name)}
            %ul#legend_alert_list{ko(foreach: :thresholds), style: 'min-width:200px;padding-left:5px; padding-right:5px; list-style:none'}

              <!-- ko if: showingThreshold() -->
              %li{style: 'height:auto;'}
                %div{style: 'padding-right:5px;float:left'}
                  %img{"data-bind" => "attr: { src:iconUrl }", style: 'width:20px;' }
                %div{style:'line-height:20px;; vertical-align:middle;padding-top:2px; padding-bottom:10px; '}
                  %span{ko(text: :propertyName)}
                  %span :
                  %span{ko(text: :alertedSitesNum)}
              <!-- /ko -->
             
          <!-- /ko -->   
          <!-- /ko -->   
    <!-- /ko -->
         
    %div{style: 'height: 20px; background-color:#E6E6E6;border-radius: 0px 0px 10px 10px;'}
    <!-- /ko -->
    <!-- /ko -->
