<!-- ko if: !currentCollection() && !editingSite() -->
-# Collections
.tableheader.expanded
  %div{style: 'padding-top:9px;padding-left:6px;height:29px;width:289px'}= t('views.collections.index.my_collections')
  .mapheader.w60.right
    %button.icon_button.ffullscreen.right{ko(click: '$root.tooglefullscreen') }
    %button.icon_button.ftable.right{ko(click: '$root.showTable', css: "{active: !$root.showingMap()}")}
    %button.icon_button.fmap.right{ko(click: '$root.showMap', css: "{active: $root.showingMap()}")}
    %br{clear: "all"}
.tablescroll
  %table.GralTable.tableview
    %thead
      %tr
        %th{style: 'width:283px;padding-left:10px;'}= t('views.collections.index.collection')
        %th{style: 'width:100%'}= t('views.collections.index.last_update')
        %th
    %tbody
      <!-- ko foreach: collections -->
      %tr
        %td
          %div{ko(text: :name)}
          %button.farrow{ko(click: '$root.enterCollection'), type: :button}
        %td.l.timeago{ko(attr: {title: :updatedAt}, text: :updatedAtTimeago)}
      <!-- /ko -->

= render 'collections/index/create_collection'



<!-- /ko -->

-# Collection sites
<!-- ko if: !editingSite() -->
<!-- ko with: currentCollection -->
.tableheader.expanded{style: 'height:34px;'}
  %div{style: "float:left"}
    %span{style: "width:auto; float:left"}
      %button.pback{ko(click: '$root.goToRoot'), type: 'button'}
      %span
    %span{style: "float:left;"}
      %span{ko(text: :name), style: "float:left;  width:225px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; display:block; vertical-align:middle;  padding-top:10px"}
      - if !current_user.is_guest
        %button.fconfiguration.right{ko(click: '$root.editCollection'), type: 'button', style: 'margin-right:8px;margin-top:6px;'}
  = render 'collections/index/export'
  .mapheader.right
    %button.icon_button.ffullscreen.right{ko(click: '$root.tooglefullscreen') }
    %button.icon_button.ftable.right{ko(click: '$root.showTable', css: {active: "!$root.showingMap()"})}
    %button.icon_button.fmap.right{ko(click: '$root.showMap', css: {active: "$root.showingMap()"})}
    %br{clear: "all"}
.tablescroll.expanded.sites{ko(event: {mouseover: "$root.scrollTable"}), style:'width:100%;'}
  %table.GralTable.tableview{style: 'table-layout: fixed;'}
    %col{width: '300'}
    %col{width: '100'}
    %col{width: '100'}
    %col{width: '100'}
    %col{width: '100'}
    %col{width: '100'}
    <!-- ko foreach: $root.currentCollection().fields() -->
    %col{ko(attr: { width: 'suggestedWidth()' })}
    <!-- /ko -->
    %col{width: '150'}
    %thead
      %tr
        %th{ko(click: '$root.sortByName'), style: 'cursor:pointer;overflow:hidden'}
          %span{style: 'display:inline'}= t('views.collections.index.site')
          <!-- ko if: $root.sort() == 'name' -->
          -# Note: the cssFloat property is used to make it work on Firefox. See the note on:
          -# https://developer.mozilla.org/en-US/docs/CSS/float
          %button{ko(style: {background: "'transparent url(#{InsteddRails.url}/theme/images/icons/misc/grey/arrow' + ($root.sortDirection() ? 'Up' : 'Down') + '.png) no-repeat scroll center'", height: "'11px'", cssFloat: "'right'", float: "'right'", borderStyle: "'none'", paddingLeft: "'17px'"})}
          <!-- /ko -->
        /ko if: isVisibleLocation
        %th
          %span{style: 'display:inline'}= t('views.collections.index.lat')
        %th
          %span{style: 'display:inline'}= t('views.collections.index.long')
        //ko
        %th
          %span{style: 'display:inline'}= t('views.collections.index.week')
        %th
          %span{style: 'display:inline'}= t('views.collections.index.year')
        %th
          %span{style: 'display:inline'}= t('views.collections.index.place')

        <!-- ko foreach: $root.currentCollection().fields() -->
        %th{ko(click: '$root.sortBy', style: {maxWidth: 'suggestedWidth()', minWidth: 'suggestedWidth()'}), style: 'overflow:hidden;cursor:pointer'}
          %span{ko(text: :name), style: 'display:inline'}
          <!-- ko if: $root.sort() == esCode -->
          %button{ko(style: {background: "'transparent url(#{InsteddRails.url}/theme/images/icons/misc/grey/arrow' + ($root.sortDirection() ? 'Up' : 'Down') + '.png) no-repeat scroll center'", height: "'11px'", cssFloat: "'right'", float: "'right'", borderStyle: "'none'"})}
          <!-- /ko -->
        <!-- /ko -->
        %th{ko(click: '$root.sortByDate'), style: 'width:100%;min-width:100px;cursor:pointer'}
          %span{style: 'display:inline'}= t('views.collections.index.last_update')
          <!-- ko if: $root.sort() == 'updated_at' -->
          %button{ko(style: {background: "'transparent url(#{InsteddRails.url}/theme/images/icons/misc/grey/arrow' + ($root.sortDirection() ? 'Up' : 'Down') + '.png) no-repeat scroll center'", height: "'11px'", cssFloat: "'right'", float: "'right'", borderStyle: "'none'"})}
          <!-- /ko -->
        %th
    %tbody
      <!-- ko if: !isSearch() && $root.groupBy().esCode != '' -->
      <!--   ko template: {name: 'table-hierarchy-items-template', with: $data} -->
      <!--   /ko -->
      <!-- /ko -->
      <!-- ko template: {name: 'table-sites-template', with: $data} -->
      <!-- /ko -->
  <!-- ko if: hasMoreSites() && !loadingSites()-->
  %span.loadmore{ko(click: :loadMoreSites), style: 'cursor:pointer;'}
    = ko_link_to t('views.collections.index.load_more_sites'), :loadMoreSites
  <!-- /ko -->
  <!-- ko if: hasMoreSites() && loadingSites()-->
  %span.loadmore= t('views.collections.index.loading')
  <!-- /ko -->
.tablebottom
  <!-- ko if: !currentSnapshot-->
  - if can? :create, Site
    = render 'collections/index/create_site'
  <!-- /ko -->
<!-- /ko -->
<!-- /ko -->
