-# Sites template
%script{type: "text/html", id: "table-sites-template"}
  <!-- ko foreach: partlySites -->
  %tr
    %td{style: 'overflow:auto'}
      %div{style: 'margin-top:5px'}
        %p{ko(style: {marginLeft: "'' + (($parent.level + 1) * 20) + 'px'"}, click: '$root.selectSite'), style: 'cursor: pointer'}
          %span.stat-r
          %span{ko(html: :highlightedName)}
      %button.farrow{ko(click: '$root.editSite'), type: :button}
    /ko if: collection.isVisibleLocation
    %td.padded
      %span{ko(text: :safe_lat)}
    %td.padded
      %span{ko(text: :safe_lng)}
    //ko
    %td.padded
      %span{ko(text: :week)}
    %td.padded
      %span{ko(text: :year)}
    %td.padded
      %span{ko(text: :place_name)}
    <!-- ko foreach: $root.currentCollection().fields() -->
    %td.padded
      <!-- ko if: kind == 'photo' -->
      <!-- ko if: $parent.propertyValue($data) -->
      %img{ko(attr: {src: "photoPath + $parent.propertyValue($data)"}), width: "36px"}
      <!-- /ko -->
      <!-- /ko -->
      <!-- ko if: kind != 'photo' -->
      %span{ko(attr: "{ title: $parent.highlightedPropertyValue($data) }", text: "$parent.highlightedPropertyValue($data)"), style: 'vertical-align:top'}
      <!-- /ko -->
    <!-- /ko -->
    %td.timeago.padded{ko(attr: "{title: updatedAt}", text: :updatedAtTimeago)}
    %td.padded
  <!-- /ko -->
