%div{style: 'positon:relative'}
  %h1= collection.name
  - if collection.description.present?
    %p{style: 'font-size:12px'}= collection.description
  %div.right
    -if leave_collection_permission?
      = render './confirm_box', :action_code => 'delete-membership', :action_description => t('views.collections.index.leave_this_collection'), :class_name => 'button grey right', :confirm_action_prompt => t('views.collections.index.confirm_leave_collection'), :action_url => collection_membership_path(collection, current_user.id)  
%div{style: 'clear:both'}
.div
  %ul.tabs.top
    = tab t('views.collections.tab.overview'), collection_path(collection)
    -if(current_user.admins? collection or current_user.is_national? collection or current_user.is_phd? collection)
      = tab t('views.collections.tab.report'), collection_reports_path(collection)
    = tab t('views.collections.tab.layers'), collection_layers_path(collection)
    = tab t('views.collections.tab.import_wizard'), collection_import_wizard_path(collection)
    = tab t('views.collections.tab.settings'), collection_settings_path(collection)
    -if(current_user.admins? collection or current_user.is_national? collection or current_user.is_phd? collection)
      = tab t('views.collections.tab.health_structure'), collection_places_path(collection)
    = render_hook collection, :collection_tab, :collection => collection
    - if Settings.is_on? :channels  
      = tab t('views.collections.tab.quotas'), collection_quotas_path(collection)
    






