<html lang = "en" >
  <head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8' /> 
    <title>Resource Map</title>
    <script src="/assets/application.js"></script>
    <link href="http://theme.instedd.org/theme/stylesheets/theme.css" rel="stylesheet" />
    <script src="http://theme.instedd.org/theme/javascripts/theme.js"></script>
    <link href="/assets/application.css" media="screen" rel="stylesheet" />
  </head>
  <body style="background: none;">
    <div style="width:100%;">
      <p>
        <center>
          <h2>This is the first center header</h2>
        </center>
      </p>
      <p>
        <center>
          <h3>This is the first center header</h3>
        </center>
      </p>
      <p>
        <h3>Helllo one</h3>
      </p>
      <p> 
        <h3>Hello two<h3>
      </p>
      <center>
        <h3>This is the report from xxx to zzz for CMPE to edit<h3>
      </center>
    </div>
    <br/>
    <div class="fht-table-wrapper GralTable" >
      <div class="fht-tbody">
        <table style="table-layout: fixed; width: 1200px; margin-top: 0px;" class="GralTable tableview fht-table fht-table-init">
          </colgroup>
          <thead>
            <tr>
              <th style="width:50px;">
                <span style="display:inline">#</span>
              </th>
              <th style="width:150px;">
                <span style="display:inline">District</span>
              </th>
              <% @fields_first.each do |field| %>
                <th style="width:150px;">
                  <span style="display:inline"><%= field[:name] %></span>
                </th>
              <% end %>
              <th style="padding-right: 6px;">
                <div class="fht-cell" style="width: 0px;">
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr></tr>
            <% i = 1 %>
            <% @data.each do |key, row| %>
              <tr>
                <td style="overflow:auto">
                  <div style="margin-top:5px">
                    <p style="cursor: pointer">
                      <span><%= i %></span>
                    </p>
                    <% i = i + 1 %>
                  </div>
                </td>
                <td style="overflow:auto">
                  <div style="margin-top:5px">
                    <p style="cursor: pointer">
                      <span><%= Place.find(key).name %></span>
                    </p>
                  </div>
                </td>
                <% @fields_first.each do |field| %>
                    <td style="overflow:auto">
                      <div style="margin-top:5px">
                        <p style="cursor: pointer">
                          <span><%= row[field[:id].to_s] || "" %></span>
                        </p>
                      </div>
                    </td>
                <% end %>
                <td class="padded" style=""></td>
              </tr>
            <% end %>
            <tr>
              <td style="overflow:auto">
                <div style="margin-top:5px">
                  <p style="cursor: pointer">
                    <span></span>
                  </p>
                  <% i = i + 1 %>
                </div>
              </td>
              <td style="overflow:auto">
                <div style="margin-top:5px">
                  <p style="cursor: pointer">
                    <span>Total</span>
                  </p>
                </div>
              </td>
              <% @fields_first.each do |field| %>
                  <td style="overflow:auto">
                    <div style="margin-top:5px">
                      <p style="cursor: pointer; color: red;">
                        <span><%= @total[field[:id].to_s] || "" %></span>
                      </p>
                    </div>
                  </td>
              <% end %>
              <td class="padded" style=""></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br/>
    <br/>
    <div class="fht-table-wrapper GralTable">
      <div class="fht-tbody">
        <table style="table-layout: fixed; width: 1200px; margin-top: 0px;" class="GralTable tableview fht-table fht-table-init">
          </colgroup>
          <thead>
            <tr>
              <th style="width:50px;">
                <span style="display:inline">#</span>
              </th>
              <th style="width:150px;">
                <span style="display:inline">District</span>
              </th>
              <% @fields_second.each do |field| %>
                <% unless field.nil? %> 
                  <th style="width:150px;">
                    <span style="display:inline"><%= field[:name] %></span>
                  </th>
                <% end %>
              <% end %>
              <th style="padding-right: 6px;">
                <div class="fht-cell" style="width: 0px;">
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr></tr>
            <% i = 1 %>
            <% @data.each do |key, row| %>
              <tr>
                <td style="overflow:auto">
                  <div style="margin-top:5px">
                    <p style="cursor: pointer">
                      <span><%= i %></span>
                    </p>
                    <% i = i + 1 %>
                  </div>
                </td>
                <td style="overflow:auto">
                  <div style="margin-top:5px">
                    <p style="cursor: pointer">
                      <span><%= Place.find(key).name %></span>
                    </p>
                  </div>
                </td>
                <% @fields_second.each do |field| %>
                  <% unless field.nil? %> 
                    <td style="overflow:auto">
                      <div style="margin-top:5px">
                        <p style="cursor: pointer">
                          <span><%= row[field[:id].to_s] || "" %></span>
                        </p>
                      </div>
                    </td>
                  <% end %>
                <% end %>
                <td class="padded" style=""></td>
              </tr>
            <% end %>
            <tr>
              <td style="overflow:auto">
                <div style="margin-top:5px">
                  <p style="cursor: pointer">
                    <span></span>
                  </p>
                  <% i = i + 1 %>
                </div>
              </td>
              <td style="overflow:auto">
                <div style="margin-top:5px">
                  <p style="cursor: pointer">
                    <span>Total</span>
                  </p>
                </div>
              </td>
              <% @fields_second.each do |field| %>
                <% unless field.nil? %> 
                  <td style="overflow:auto">
                    <div style="margin-top:5px">
                      <p style="cursor: pointer; color: red;">
                        <span><%= @total[field[:id].to_s] || "" %></span>
                      </p>
                    </div>
                  </td>
                <% end %>
              <% end %>
              <td class="padded" style=""></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>

