= render '/tabs'

- content_for :head do
  :javascript
    $(function() { initReports(#{collection.id}, #{@fields})});
  :css
    table.GralTable td.center { text-align: center; }

.tabsline
  #reports-main
    %h2= t('views.reports.title')
    %p= t('views.reports.description')

    %label= t('views.reports.from_week')
    %select{ko(options: 'listWeek', value: :fromWeek)}
    %label= t('views.reports.of_the_year')
    %select{ko(options: 'listYear', value: :fromYear)}
    %label= t('views.reports.to_week')
    %select{ko(options: 'listWeek', value: :toWeek)}
    %label= t('views.reports.of_the_year')
    %select{ko(options: 'listYear', value: :toYear)}
    %br/
    %label= t('views.reports.field')
    %br/
    <!-- ko foreach: fields -->
    %input.collection_id{ko(value: "id", click: "$root.selectField", checked: 'checked'), type: 'checkbox'}
    %label{ko(text: 'name')}
    %br/
    <!-- /ko -->
    .clear
    %br/
    %button.csvDownload.white.left{ko(click: 'generateReport')}
      = t('views.reports.generate_report')
  %br
  %br
  %br
  %hr.clear/
  %br 
  #places-main
    %h2= t('views.reports.monthly_graph')
    %p= t('views.reports.generate_monthly_hi_ci_bi_graph')

    %label= t('views.reports.from_month')
    %select{ko(options: 'listMonth', value: :fromMonthlyReportWeek)}
    %label= t('views.reports.of_the_year')
    %select{ko(options: 'listYear', value: :fromMonthlyReportYear)}
    %label= t('views.reports.to_month')
    %select{ko(options: 'listMonth', value: :toMonthlyReportWeek)}
    %label= t('views.reports.of_the_year')
    %select{ko(options: 'listYear', value: :toMonthlyReportYear)}
    %br/
    %br/
    %label= t('views.reports.field')
    %select.w25{ko(value: :selectedField, options: :listAvailableField, optionsText: 'function(o){return labelFor(o)}', hasfocus: true)}
    .clear
    %br
    %button.csvDownload.white.left{ko(click: 'generateMonthlyGraph')}
      = t('views.report.generate_graph_report')
    %br
  %br
  %br
  %br
  %hr.clear/
  #places-main
    %h2= t('views.reports.weekly_graph')
    %p= t('views.reports.generate_monthly_hi_ci_bi_graph')

    %label= t('views.reports.from_week')
    %select{ko(options: 'listWeek', value: :fromWeeklyReportWeek)}
    %label= t('views.reports.of_the_year')
    %select{ko(options: 'listYear', value: :fromWeeklyReportYear)}
    %label= t('views.reports.to_week')
    %select{ko(options: 'listWeek', value: :toWeeklyReportWeek)}
    %label= t('views.reports.of_the_year')
    %select{ko(options: 'listYear', value: :toWeeklyReportYear)}
    %br/
    %br/
    %label= t('views.reports.field')
    %select.w25{ko(value: :selectedWeeklyField, options: :listAvailableField, optionsText: 'function(o){return labelFor(o)}', hasfocus: true)}
    .clear
    %br
    %button.csvDownload.white.left{ko(click: 'generateWeeklyGraph')}
      = t('views.report.generate_graph_report')