<html lang="en">
  <head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8' /> 
    <title>Resource Map</title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link href="http://theme.instedd.org/theme/stylesheets/theme.css" rel="stylesheet" />
    <script src="http://theme.instedd.org/theme/javascripts/theme.js"></script>
    <link href="/assets/application.css" media="screen" rel="stylesheet" />
    <script src="http://www.google.com/uds/modules/gviz/gviz-api.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  </head>
  <script>
    google.charts.load('current', {'packages':['line']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      $.ajax({
        url: "<%= get_monthly_graph_collection_reports_path() %>",
        type: "GET",
        data: {
                "field_id": "<%= @field_id %>", 
                "from_month" : "<%= @from_month %>",
                "from_year": "<%= @from_year %>",
                "to_month": "<%= @to_month %>",
                "to_year": "<%= @to_year %>"
        },
        success: function(response){
          var data = new google.visualization.DataTable();
          console.log(response);
          data.addColumn('number', 'ເດືອນ');
          for(var i=0; i< response["column"].length; i++){
            data.addColumn('number', response["column"][i]);
          }

          list = response["data"]

          data.addRows(list);
          var options = {
            chart: {
              title: 'ການເຝິາລະວ້ງຄວາມໜາແໜ້ນໜອນນຳຍຸງລາຍ ປະຈຳເດຶອນ',
              subtitle: "ແຕ່ເດືອນ <%= @from_week %>/<%= @from_year %> - <%= @to_week %>/<%= @to_year %> "
            },
            width: 900,
            height: 500
          };
          var chart = new google.charts.Line(document.getElementById('linechart_material'));
          chart.draw(data, options);
        },
        dataType: "json"
      });
    }
  </script>
  <body style="background: none;">
    <br />
    <br />
    <center>
      <div id="linechart_material">

      </div>

    </center>
  </body>
</html>

