<html lang = "en" >
  <head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8' /> 
    <title>Resource Map</title>
    <script src="/assets/application.js"></script>
    <link href="http://theme.instedd.org/theme/stylesheets/theme.css" rel="stylesheet" />
    <script src="http://theme.instedd.org/theme/javascripts/theme.js"></script>
    <link href="/assets/application.css" media="screen" rel="stylesheet" />
  </head>
  <body style="background: none;">

    <div class="fht-table-wrapper GralTable" >
      <div class="fht-tbody">
        <p>
          <center>
            <h2>ສາທາລະນະລັດ ປະຊາທິປະໄຕ ປະຊາຊົນລາວ</h2>
          </center>
        </p>
        <p>
          <center>
            <h3>ສ້ນຕ່ີພາບ ເອກະລາດ ປະຊາທິປະໄຕ ເອກະພາບ ວັດທະນະຖາວອນ</h3>
          </center>
        </p>
        <p>
          <h3>ນະຄອນຫຼວງວຽງຈັນ</h3>
        </p>
        <p> 
          <h3>ພະແນກສາທາທລະນະສຸກ<h3>
        </p>
        <p> 
          <h3>ສະຖານິໄຂັຍູງນະຄອນຫຼວງ<h3>
        </p>
        <center>
          <h3>ສງລວມບ້ານເຝົາລະວັງ ເເລະ ສ໋າຫຼວດໝອນນຳ ປະຈຳອາທິດທິ 51 ແຕ່ວັນທີ <%= @from_week %> <%= @from_year %>/<%= @from_year %>  ຫາ <%= @to_week %>/<%= @to_year %>  <h3>
        </center>
        <table style="table-layout: fixed; width: 1200px; margin-top: 0px;" class="GralTable tableview fht-table fht-table-init">
          </colgroup>
          <thead>
            <tr>
              <th style="width:50px;">
                <span style="display:inline">#</span>
              </th>
              <th style="width:200px;">
                <span style="display:inline">District</span>
              </th>
              <th style="width:100px;">
                <span style="display:inline">Number of Village</span>
              </th>
              <% @fields.each do |field| %>
                <th style="width:100px;">
                  <span style="display:inline"><%= field[:name] %></span>
                </th>
              <% end %>
              <th style="padding-right: 6px;">
                <div class="fht-cell" style="width: 0px;">
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <% index = 1 %>
            <% @data.each do |key, od| %>
              <tr style="background-color:grey;">
                <td style="overflow:auto" align="left">
                  <div style="margin-top:5px">
                    <p style="cursor: pointer">
                      <span> <%= index.to_roman %> </span>
                    </p>
                    <% index = index + 1 %>
                  </div>
                </td>
                <td style="overflow:auto">
                  <div style="margin-top:5px">
                    <p style="cursor: pointer">
                      <span> <%= Place.find(key).name %> </span>
                    </p>
                    
                  </div>
                </td>
                <td style="overflow:auto" align="middle">
                  <div style="margin-top:5px">
                    <p style="cursor: pointer">
                      <span> <%= od.size %></span>
                    </p>
                    
                  </div>
                </td>
                <% @fields.each do |field| %>
                  <td style="overflow:auto">
                    <div style="margin-top:5px">
                      <p style="cursor: pointer">
                        <span></span>
                      </p>
                    </div>
                  </td>
                <% end %>
              </tr>
              <% i = 1 %>
              <% od.each do |odkey, row| %>
                <tr>
                  <td style="overflow:auto" align="middle">
                    <div style="margin-top:5px">
                      <p style="cursor: pointer">
                        <span style="font-size:20px;"><%= i %></span>
                      </p>
                      <% i = i + 1 %>
                    </div>
                  </td>
                  <td style="overflow:auto">
                    <div style="margin-top:5px">
                      <p style="cursor: pointer">
                        <span style="font-size:20px;"><%= Place.find(odkey).name %></span>
                      </p>
                    </div>
                  </td>
                  <td style="overflow:auto">
                    <div style="margin-top:5px">
                      <p style="cursor: pointer">
                        <span></span>
                      </p>
                    </div>
                  </td>
                  <% @fields.each do |field| %>
                      <td style="overflow:auto" align="middle">
                        <div style="margin-top:5px">
                          <p style="cursor: pointer">
                            <span style="font-size:20px;"><%= row[field[:id].to_s] || "" %></span>
                          </p>
                        </div>
                      </td>
                  <% end %>
                  <td class="padded" style=""></td>
                </tr>
              <% end %>
              <tr>
                <td style="overflow:auto">
                  <div style="margin-top:5px">
                    <p style="cursor: pointer">
                      <span></span>
                    </p>
                    <% i = i + 1 %>
                  </div>
                </td>
                <td style="overflow:auto">
                  <div style="margin-top:5px">
                    <p style="cursor: pointer">
                      <span style="font-size:20px;">Total</span>
                    </p>
                  </div>
                </td>
                <td style="overflow:auto">
                    <div style="margin-top:5px">
                      <p style="cursor: pointer">
                        <span></span>
                      </p>
                    </div>
                  </td>
                <% @total.each do |id, value| %>
                  <% if id == key %>
                    <% @fields.each do |field| %>
                        <td style="overflow:auto" align="middle">
                          <div style="margin-top:5px">
                            <p style="cursor: pointer; color: red;">
                              <span style="font-size:20px;"><%= value[field[:id].to_s] || "" %></span>
                            </p>
                          </div>
                        </td>
                    <% end %>
                  <% end %>
                <% end %>
                <td class="padded" style=""></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <br/>    
  </body>
</html>

