- if mobile
  - if single_editing_mode
    = ko_number_field_tag :value, hasfocus: true, event: {keydown: :keyPress, blur: :save}, html: {step: "any"}, attr: {id: "'numeric-input-' + code"}
  - else
    = ko_number_field_tag :value, html: {class: 'right w20', step: "any"}, attr: {id: "'numeric-input-' + code"}
    .clear
- else
  - if single_editing_mode
    = ko_text_field_tag :value, hasfocus: true, event: {keydown: :keyPress, keyup: :validateRange, blur: :save}, css: { error: :error }, html: {step: "any"}, attr: {id: "'numeric-input-' + code", class: "'w25 key-map-' + keyType+ ' '+ errorClass()"}
  - else
    = ko_text_field_tag :value, valueUpdate: :afterblur, css: { error: :error}, event: {keydown: :keyPress}, attr: {id: "'numeric-input-' + code", class: "'w25 key-map-' + keyType+ ' '+ errorClass()"}
    .clear

