- if single_editing_mode
  %input.w25.autocomplete-site-input.ux-search{ ko(autocomplete: :valueUI, value: :valueUI, hasfocus: true, event: {keydown: :keyPress, blur: :save}, valueUpdate: :afterkeydown, source: "$root.currentCollection().searchSitesUrl()", css: { error: :error }, attr: {id: "'site-input-' + code"}), type: :text  }
- else
  %input.autocomplete-site-input.ux-search.w25{ ko(autocomplete: :valueUI, value: :valueUI, source: "$root.currentCollection().searchSitesUrl()", valueUpdate: 'afterkeydown', css: { error: :error }, attr: {id: "'site-input-' + code"}), type: :text }
  .clear