%div{ko(visible: :showRegisterNewHierarchy), class: "box centered w40 rm-dialog", id: "frm_new_hierarchy", style: "margin-left: -180px; display: none; margin-top: -175px; box-shadow: 0 3px 11px -1px rgba(0, 0, 0, 0.3)" }
  %h2= t('views.places.create_new_hierarchy')
  %div{:style => "margin-left: 132px;"}
    %span{ko(text: :nameError), :style => "color: red"}
  = t('views.places.name')
  %input#nameHierarchy{ko(value: :name, valueUpdate: :afterkeydown), :name => "email", :style => "margin-left: 88px; width: 250px;", :type => "text"}
  %br
  %br
  %div{:style => "margin-left: 132px;"}
    %span{ko(text: :codeError), :style => "color: red"}
  = t('views.places.code')
  %input#codeHierarchy{ko(value: :code, valueUpdate: :afterkeydown), :name => "phone_number", :style => "margin-left: 92px; width: 250px;", :type => "text"}
  %br
  %br

  %div{ style: "margin-left: 130px;"}
    %button{ko(click: '$root.createHierarchy', css: {disabled: '$root.hasHierarachyError()'}), type: "button", value: "Save", class: "white", id: "btn_create_member" }= t('views.places.submit')
    
    %button{ko(click: '$root.hideRegisterHierarchy'), type: "button", value: "Cancel", class: "white", id: "btn_close_member" }= t('views.places.cancel')
