%td.member{style: 'cursor:pointer;', colspan: 6}
  .memberHeaderRow
    .memberHeaderColumn.collapsed{style: 'height:45px;width:280px;'}
      %img.members-collapse-icon{ko(click: :toggleExpanded, attr: {src: "'#{InsteddRails.url}/theme/images/icons/misc/black/arrowRight.png'"})}
      %span{ko(text: :userDisplayName, click: :toggleExpanded)}
      - if 'userPhoneNumber'
        %br/
        %span{ko(text: :userPhoneNumber), style: 'margin-left: 15px; font-size: 12px;'}


    - ['None', 'Read', 'Create', 'Update'].each do |permission|
      .permissionColumn.collapsed{ko(text: "summary#{permission}", css: "{ summaryAll: summary#{permission}() == window.t('javascripts.collections.members.permissions.all'), summarySome: summary#{permission}() == window.t('javascripts.collections.members.permissions.some') }"), style: 'height:42px;'}

    .permissionColumn.admin.collapsed{style: 'height:44px;'}
      %input{ko(checked: :admin), type: :checkbox}
    .lastColumn.collapsed{style: 'width:auto'}
