%a{ko(click: :open_confirm, visible: "!confirming()"), :class => "icon #{icon_class} black"}
  = action_description
%div.sbox.grey{ko(visible: :confirming), style: 'display:none;width:372px;'}
  %div.icon.fclose.black{ko(click: :close_confirm), style: 'width:24px;float:left;background-position: 0 -60px;'}
  %div{style: 'margin-top:8px;margin-left:28px;'}
    = confirm_action_prompt
    %hr
  %div{style:'height:37px;'}
    %a{ko(click: :confirm), :class => "button white right"}
      = 'Confirm'
    %a.grey.right{ko(click: :close_confirm), :style => 'margin-top:13px; margin-right:10px;'} Cancel