%td.member{style: 'cursor:pointer;', colspan: 6}
  .memberHeaderRow
    .memberHeaderColumn{style: "width:285px;"}
      %img.members-collapse-icon{ko(click: :toggleExpanded, attr: {src: "'#{InsteddRails.url}/theme/images/icons/misc/black/arrow' + (expanded() ? 'Down' : 'Right') + '.png'"})}
      %span{ko(click: :toggleExpanded, text: :userDisplayName)}
      - if 'userPhoneNumber'
        %span{ko(text: :userPhoneNumber), style: 'font-size: 12px;'}

    - ['None', 'Read', 'Create', 'Update'].each do |permission|
      .permissionColumn{ko(text: "summary#{permission}", css: "{ summaryAll: summary#{permission}() == window.t('javascripts.collections.members.permissions.all'), summarySome: summary#{permission}() == window.t('javascripts.collections.members.permissions.some') }")}

    .permissionColumn.admin
      %input{ko(checked: :admin), type: :checkbox}

  .defaultLayerPermissionsRow
    .memberHeaderColumn{style: "width:272px;"}
      %hr.underlineExpandedMember
      .defaultLayerPermissionsTitle{ko(click: :toggleDefaultLayerPermissions)}
        %span{style: 'float:left'}
          %img.members-collapse-icon{ko(attr: {src: "defaultLayerPermissionsArrow('#{InsteddRails.url}')" })}
        %span.memberDetailsTitle
          = t('views.collections.members.default_permissions_for_all_layers')

    - ['None', 'Read', 'Create', 'Update'].each do |permission|
      .permissionColumn
        %hr.underlineExpandedMember
          %input{ko(disable: :admin, checked: "allLayers#{permission}", :attr => { "name" => "userId" }), :value => "all", :type => 'radio'}

    .permissionColumn.admin
      %hr.underlineExpandedMember

  /ko if: defaultLayerPermissionsExpanded
  /ko foreach: layers
  .layerRow
    .memberHeaderColumn{ko(text: "layerName()"), style: "width:218px;"}
    - ['None', 'Read', 'Create', 'Update'].each do |permission|
      .permissionColumn
        %input{ko(disable: "$parent.admin()", checked: "#{permission.downcase}Checked"), :value => "true", :type => 'radio'}
    .permissionColumn.admin
  //ko
  //ko

  / "REMOVE BECAUSE USER DON'T NEED THIS FEATURE"
  
  / .customPermissionsTitleRow
  /   .memberHeaderColumn{style: "width:285px;"}
  /     .frame
  /       .memberDetailsTitle{ko(text: 'site_permissions_title')}
  /   - ['None', 'Read', 'Create', 'Update'].each do |permission|
  /     .permissionColumn
  /       .frame
  /   .permissionColumn.admin
  /     .frame

  / /ko foreach: sitesWithCustomPermissions
  / .customPermissionRow
  /   .memberHeaderColumn{style: "width:285px;"}
  /     .frame
  /       .memberCustomPermissionsSiteName{ko(text: 'name')}
  /       %button.clist-remove.memberRemoveCustomPermissionSite{ko(click: "$parent.removeCustomPermission")}
  /       %hr.underlineExpandedMember{ko(visible: '$index() < $parent.sitesWithCustomPermissions().length - 1')}
  /   - ['None', 'Read', 'Create', 'Update'].each do |permission|
  /     .permissionColumn
  /       .frame
  /         %input{ko(disable: "$parent.admin", checked: "#{permission.downcase}Checked"), :value => "true", :type => 'radio'}
  /       %hr.underlineExpandedMember{ko(visible: '$index() < $parent.sitesWithCustomPermissions().length - 1')}
  /   .permissionColumn.admin
  /     .frame
  /       %hr.underlineExpandedMember{ko(visible: '$index() < $parent.sitesWithCustomPermissions().length - 1')}
  / //ko

  / .addCustomPermissionRow{ko(attr: { "id" => "customPermissionsAutocompleteId()" })}
  /   .memberHeaderColumn{style: "width:285px;"}
  /     .frame
  /       %input.autocomplete-site-input.ux-search{ ko(autocomplete: :customSite, value: :customSite, valueUpdate: :afterkeydown, source: "searchSitesUrl()", event: {keydown: :keyPress, blur: :save}), type: :text, placeholder: t('views.collections.members.add_custom_permissions_for_site') }
  /       %button.clist-add{ko(click: :createCustomPermissionForSite)}
  /   - ['None', 'Read', 'Create', 'Update'].each do |permission|
  /     .permissionColumn
  /   .permissionColumn.admin

  .removeMemberRow
    .memberHeaderColumn{style: 'width:573px'}
      = render 'places/confirm_remove', :action_description => t('views.collections.members.remove_this_member'), :icon_class => 'fdelete', :confirm_action_prompt => t('views.collections.members.remove_member_prompt')
