= render '/tabs'

- content_for :head do
  :javascript
    $(function() { initPlaces(#{current_user.id}, #{collection.id}, #{collection_admin?}, #{collection.layers.map{|x| {id: x.id, name: x.name}}.to_json}); });
  :css
    table.GralTable td.center { text-align: center; }

%script{type: "text/html", id: "field-hierarchy-items-template"}
  <!-- ko foreach: fieldHierarchyItems -->
  .hierarchy{ko(css: {active: 'selected()'}), style: "height: 24px;"}
    %a{ko(style: {marginLeft: "'' + (level * 20) + 'px'"}), href: 'javascript:void(0)'}
      <!-- ko if: id != '' -->
      %img{ko(click: :toggleExpand, attr: {src: "'#{InsteddRails.url}/theme/images/icons/18/black/folder' + (expanded() ? '_open' : '') + '.png'"}), style: 'position:relative;top:2px'}
      <!-- /ko -->
      %span{ko(click: :select, text: :name)}
    <!-- ko if: selected -->
    %button{ko(click: '$root.deleteHierarchy'), :class => "fdelete right", :style => "margin-top:0px", :type => "button"}
    %button{ko(click: '$root.editRegisterHierarchy'), :class => "fedit right", :style => "margin-top:0px", :type => "button"}
    %button{ko(click: '$root.showRegisterHierarchy'), :class => "fadd right", :style => "margin-top:0px", :type => "button"}
    <!-- /ko -->
  <!-- ko if: expanded -->
  <!-- ko template: {name: 'field-hierarchy-items-template', with: fieldHierarchyItems} -->
  <!-- /ko -->
  <!-- /ko -->
  <!-- /ko -->



.tabsline
  -if(current_user.admins? collection or current_user.is_national? collection)
    %h2= t('views.collections.overview.status')
    %div
      .sbox.grey.w30.sitesBox
        .left.sitesDescription
          .sitesCount= "#{collection.places.size}"
          = t('views.places.places')
        %button.csvDownload.white.right{type: "button", |
            onclick: "window.location = '#{download_collection_places_path()}'"}
          = t('views.places.download_hierarchy')
      %div
        = link_to t('views.places.upload_it_for_bulk_places_updates'), collection_import_hierarchy_wizard_path(collection), class: 'icon fexport black'
    %hr.clear/
    %br 
  #places-main
    %h2= t('views.places.title')
    %p= t('views.places.description')
    %br/

  .tablewrapp.w60.right
    %table.GralTable
      %colgroup
        %col{width: '300px'}
        %col{width: '60px'}
        %col{width: '60px'}
        %col{width: '60px'}
        %col{width: '60px'}
        %col{width: '60px'}
        %col{width: '1px'}
      %tr
        %th.members-tree{style: '-webkit-border-radius:8px 0 0 0;-moz-border-radius:8px 0 0 0;'} 
          = t('views.collections.members.member')
          &rarr; 
          = t('views.collections.members.site')
          &rarr; 
          = t('views.collections.members.layer')
        %th.members-permission= t('views.collections.members.none')
        %th.members-permission= t('views.collections.members.read')
        %th.members-permission= t('views.collections.members.create')
        %th.members-permission= t('views.collections.members.update')
        %th.members-permission= t('views.collections.members.admin')

      %tr{ :class => :membersFirstRow }
        %td
        %td
        %td
        %td
        %td
        %td
      /ko foreach: current_members
      /ko ifnot: isCurrentUser
      %tr{ko(css: { :expandedMember => :expanded }), :class => :membersRow}
        /ko if: expanded
        = render 'places/expanded_member'
        //ko

        /ko ifnot: expanded
        = render 'places/collapsed_member'
        //ko
      %tr
        %td{:colspan => 6, :style => 'height:5px;border-bottom:0px;'}
      //ko
      //ko
      - if collection_admin?
        = render 'places/add_member'
        = render 'places/add_non_existed_member'
        = render 'places/add_hierarchy'
        = render 'places/edit_hierarchy'

  .w30{:style => "width: 350px ! important;"}
    .hierarchy-long-container{tabIndex: 0, style: 'height:340px;box-shadow:none;'}
      <!-- ko template: {name: 'field-hierarchy-items-template', with: fieldHierarchyItems} -->
      <!-- /ko -->
  .clear
