- content_for :head do
  %script{:type => "text/javascript", :src => "http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"}
  :javascript
    $.handleAjaxError = function(xhr) {
      if (!xhr || (xhr.status !== 0 && xhr.readyState !== 0)) {
        $.status.showError("Unexpected error");
      }
    };
    
    $(document).ajaxError(function(event, xhr, settings, error) {
      $.handleAjaxError(xhr)
    });

- content_for :navigation do
  = section t('views.nav.home'), root_path(explicit: true), :home  
  = section t('views.nav.collections'), collections_path, :collections
  
  - if user_signed_in?
    - if !current_user.is_guest
      = section t('views.nav.activity'), activities_path, :activities
      - if Settings.is_on? :channels
        = section t('views.nav.sms'), gateways_path, :gateways
      - if current_user.is_super_user
        = section t('views.nav.quota'), quotas_path, :quotas
        = section t('views.nav.national_gateway'), channels_accesses_path, :channels_accesses
  -#= section "Tour", '', :tour
  -#= section "Community", '', :community
  -#= section "Help", '', :help
- content_for :right_menu do
  %ul.RightMenu
    - if current_user && !current_user.is_guest
      %li
        #User
          = current_user.email
          %br
          %br
          .container
            %ul
              %li= link_to t('views.account.settings'), edit_user_registration_path
            %hr/
            %ul
              %li
                %a{:href => "mailto:support@instedd.org?subject=[#{application_name.underscore}-bug]"}= t('views.report_a_bug')
              %li= link_to t('views.account.sign_out'), guisso_sign_out_path_for(:user, after_sign_out_url: root_url), method: :delete
      %li
        = link_to '', edit_user_registration_path, class: 'fsettings'
    - else
      %li{style: 'line-height:20px'}
        = link_to t('views.account.create_account'), guisso_sign_up_path_for(:user), class: 'fedit', style: 'padding-top:0px !important'
      %li{style: 'line-height:20px'}
        = link_to t('views.account.login'), guisso_sign_in_path_for(:user), class: 'fuser', style: 'padding-top:0px !important'
    %li{style: "padding: 4px 5px;line-height:20px", id: "locale-switcher"}
      %div{style: "padding-top:0px;"}
        = show_language_options
- content_for :footer_links do
  %a{:href => root_path}= t('views.home')
  %span.VersionRevision{style: "display: none;"} 
    = ResourceMap::Application.config.revision 
= render file: 'layouts/instedd_application'
